
<link rel="stylesheet" href="/css/sign-in-up.css">



<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/user.css">
        <link rel="stylesheet" href="/css/sign-in-up.css">
        <title>Runbnb</title>
    </head>
    <body>
        <header >
            <nav class="navbar pt-3 pl-4">
                <div class="col">
                    <div>
                        <img src="/image/logo.jpg"  class="logo" alt="" style="width: 150px;">
                    </div>

                </div>
            <div class="col"  style="position: relative;left: 80px;">
                <div class="item">
                    <a class="anchor" href="#">Deja partenaire?</a>
                    <a href="/users/sign_in"  class='btn'>Se connecter</a>
                </div>
            </div>
        </nav>
    </header>
    <div id="wrapper">
        <div id="left">
            <div id="showcase1" style="position: relative;right:40px;margin-right:0px;">
                <div class="showcase-content">
                    <h2 class="showcase-text" style="font-weight: bold ;letter-spacing: 3px"><strong>Inscrivez votre</br>
                    <span>hébergement</span> </br> sur  Runbnb.com </strong>
                    </h2>
                </div>
            </div>
        </div>
        <div class="autre-text1">
            <h3 class="text1" href="<%=new_logement_path%>"><strong>Inscrivez votre
            <span>hébergement</span>  sur  Runbnb.com </strong>
            </h2>
        </div>
        <style>
        @media(max-width:768px){
        .carrer_lava{
        height:888px;
        }
        }
        
        </style>
        <div class="right pt-4" >
            <div class="carrer_lava" style="position: relative;left: 55px;">
                <div class="signin" style="height:918px;padding-right:0px;">
                    <h2 style="font-size: 20px"><strong>Créer un profil partenaire </strong></h2>
                    <div style="position: relative;top: 30px;">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        <div>
                            <label>Nom</label>
                            <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"text-input", placeholder:"Entrez votre nom", required: 'true' %>
                        </div>
                        <div>
                            <label>Prénom</label>
                            <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name",class:"text-input", placeholder:"Entrez votre prénom", required: 'true' %>
                        </div>
                        <div>
                            <label>Adress e-mail</label>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"text-input", placeholder:"Entrez votre e-mail", required: 'true' %>
                        </div>
                        <div>
                            <label>Numéro de téléphone</label>
                            <%= f.number_field :mobile, autofocus: true, autocomplete: "mobile", class:"text-input",placeholder:"Votre numéro", required: 'true' %>
                        </div>
                        <div>
                            <label>Date de naissance</label>
                            <%= f.date_field :date_of_birth, autofocus: true, autocomplete: "date_of_birth",class:"text-input", placeholder:"Entrez votre date de naissance", required: 'true' %>
                        </div>
                        <div>
                            <label>Mot de passe</label>
                            <%= f.password_field :password, autocomplete: "new-password",class:"text-input", placeholder:"***********", required: 'true' %>
                            <label>Confirmer mot de passe</label>
                            <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"text-input", placeholder:"***********", required: 'true' %>
                        </div>
                        <div style="position: relative;bottom: 20px;">
                            
                            <%= f.submit "Commencer" ,class:"button3"  %>
                            <center>
                            <div class="small">
                                <small>Vous avec un déja un compte? cliquez<span href=""> &nbsp ici &nbsp  </span>pour poursuivre l'inscription</samll>
                            </div>
                        </div>
                        </center>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

