<main>
    <h5 style="position:relative;top:30px;left: 80px;"> Information sur l'hébergement</h5>
    <div class="container" style="position:relative;top:70px;">
        <h6 style="position:relative;top:15px;">Où les clients peuvent-ils dormir ?</h6>

        <div class="card-body" id="options" style="height:75px;">
            <%Chambre.all.each do |c| %><br>
            <span class="row" data-toggle="modal" data-target="#<%=c.title%>">
                <% if c.id == 1 %>
                <div style="padding-left: 30px;">
                <%= c.title%>
            </div>
                <% end %>

                <small class="block_<%=c.id%> pl-3 mr-3"></small>

            </span>
            <!-- Modal -->
            <span class="modal fade" id="<%=c.title%>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <span class="modal-dialog modal-dialog-centered">
                    <span class="modal-content">

                        <span class="modal-body">
                            <% Lit.all.each do |l| %>
                            <div id="nombre">
                                <input type="checkbox" class="checkbox options_list" data-value="<%=l.title%>" data-type="<%=c.id%>" data-id="<%=l.id%>" name="lit_ids[<%=l.id%>]" value="<%=l.title%>">
                                <span style="position: relative;left: 20px;bottom: 3px;">
                                 
                                 <%= l.title%> </span>
                            

                                <span class="incremente-js btn-primary" style="padding: 0px 8px;margin:0px 15px;border-radius: 50px;float:right">+</span>
                                <input type="text" name="lit_ids[<%=l.id%>]" value="0" class="nombre_lit" style="width: 30px;text-align: center;float:right;">
                                <span class="decrement-js btn-primary" style="padding: 0px 11px;margin:0px 15px;border-radius: 50px;float:right">-</span>

                            </div>
                            <%end%>

                        </span>
                        <span class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn savebutton" data-idchambre="<%=c.id%>" data-dismiss="modal">Save</button>

                        </span>

                    </span>
                </span>
            </span>
            <%end%>
        </div>

        <div class="card-body" id="options_salon" style="height:75px">
            <%Salon.all.each do |c|%><br>
            <span class="row" data-toggle="modal" data-target="#<%=c.title%>">
                <% if c.id == 1 %>
                  <div style="padding-left: 30px;">
                <%= c.title%>
                  </div>
                <% end %>
                <small class="salon_<%=c.id%> pl-3 mr-3"></small>


            </span>
            <!-- Modal -->
            <span class="modal fade" id="<%=c.title%>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <span class="modal-dialog modal-dialog-centered">
                    <span class="modal-content">

                        <span class="modal-body">
                            <% Canape.all.each do |l| %>
                            <div id="nombre_canape">
                                <input type="checkbox" class="checkbox options_salon" data-value="<%=l.title%>" data-type="<%=c.id%>" data-id="<%=l.id%>" name="lit_ids[<%=l.id%>]" value="<%=l.title%>">
                                <% if c.id == 1 %>
                                <span style="position: relative;left: 20px;bottom: 3px;"> <%= l.title%> </span>
                                <% end %>
                                <span class="incremente-js btn-primary" style="padding: 0px 8px;margin:0px 15px;border-radius: 50px;float:right">+</span>
                                <input type="text" name="lit_ids[<%=l.id%>]" value="0" class="nombre_lit" style="width: 30px;text-align: center;float:right">
                                <span class="decrement-js btn-primary" style="padding: 0px 11px;margin:0px 15px;border-radius: 50px;float:right">-</span>

                            </div>
                            <%end%>

                        </span>
                        <span class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn savebutton" data-idchambre="<%=c.id%>" data-dismiss="modal">Save</button>

                        </span>

                    </span>
                </span>
            </span>
            <%end%>
        </div>

        <div class="card-body" id="options_autre" style="height:75px">
            <%Autre.all.each do |c|%><br>
            <span class="row" data-toggle="modal" data-target="#<%=c.title%>">
                <% if c.id == 1 %>
                     <div style="padding-left: 30px;">
                <%= c.title%>
            </div>
                <% end %>

                <small class="autre_<%=c.id%> pl-3 mr-3"></small>

            </span>
            <!-- Modal -->
            <span class="modal fade" id="<%=c.title%>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <span class="modal-dialog modal-dialog-centered">
                    <span class="modal-content">

                        <span class="modal-body">
                            <% Autrelit.all.each do |l| %>
                            <div id="nombre_autre">
                                <input type="checkbox" class="checkbox options_autre" data-value="<%=l.title%>" data-type="<%=c.id%>" data-id="<%=l.id%>" name="lit_ids[<%=l.id%>]" value="<%=l.title%>">
                                <span style="position: relative;left: 20px;bottom: 3px;"> <%= l.title%> </span>
                                <span class="incremente-js btn-primary" style="padding: 0px 8px;margin:0px 15px;border-radius: 50px;float:right">+</span>
                                <input type="text" name="lit_ids[<%=l.id%>]" value="0" class="nombre_lit" style="width: 30px;text-align: center;float:right">
                                <span class="decrement-js btn-primary" style="padding: 0px 11px;margin:0px 15px;border-radius: 50px;float:right">-</span>

                            </div>
                            <%end%>

                        </span>
                        <span class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                            <button type="button" class="btn savebutton" data-idchambre="<%=c.id%>" data-dismiss="modal">Save</button>

                        </span>

                    </span>
                </span>
            </span>
            <%end%>
        </div>
    </div>
</main>