
<link rel="stylesheet" href="style.css">
</head>
<!DOCTYPE html>
<html>
<head>

<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="carrou.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p{
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background: #ededed;
        margin:2px 2px;
        display: inline-flex;
    }


    .container{
    
      border-style: groove;
    
       border-box:1px;
       position:relative;
       top:33px;
        width:500px;
        height:333px;
        padding:17px;
        
        background-color:#F4F4F4;
     
    }
    .container1{
 
      border-style: groove;
        position:relative;
        top:53px;
        margin-left:65px;
         width:500px;
         height:412pxpx;
         padding-top:22px;
         padding:17px;
         
         background-color:#F4F4F4;
     
     }
     .container2{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      border:2px;
      position:relative;
      top:33px;
      margin-left:65px;
       width:500px;
       height:466px;
       padding-top:22px;
       padding:17px;
       display:none;
       background-color:#F4F4F4;
 
   }


     main{
      display: none;
     }




    .button{
      
        position:relative;
        top:123px;
        margin-left:77px;
        padding: 10px;
        width: 100px;
        border: none;
        outline:none;
        cursor:pointer;
        border-radius:5px;
        background:rgb(233, 80, 10);
        font-size:12px;
        font-weight: bold;
        color: whitesmoke;
        float:left
     

    }

.checkbox {
  
    margin-top: 4px;
    width: 75px;
   
    
  } 
  input[type='checkbox'] {
  -webkit-appearance:none;
  
  width:20px;
  height:20px;
  background:white;
  border:2px solid rgb(141, 135, 135);
  border-radius:5px;
  
  }
  input[type='checkbox']:checked {
  background: #f96816;
  outline: none;
  
  }

  .bt  {
    background-color: white ; 
    border: 1px solid black;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
   .bt:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
   .bt:hover {
    background-color: rgb(233, 80, 10);
  }
  .button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.row{
  box-shadow:

  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 1.5px 10px rgba(0, 0, 0, 0.06),
  0 2.3px 7.9px rgba(0, 0, 0, 0.052),
  0 4.8px 12.4px rgba(0, 0, 0, 0.056),
  0 2px 2px rgba(0, 0, 0, 0.2)
;

  
  


 
  background: white;
  border-radius: 5px;
  
  
}








      .col-6{
          color:black;
      }

      .list{
          padding:0px;
      }

      span{
          color:black;
      }

       .mivadika{
          float:right;
      }
      .miakatro{
        position:absolute;
        top:-222px;
        display:block;
        font-size:12px;
      
      }
      .none{
  display:none;
}
.btn .btn-secondary{
  width: 33px !important;
}
#clicke1{
  cursor: pointer;
}
.imgPreview{
  max-width:250px;
   max-height:250px;
}
#map { position: absolute; top: 30px; bottom: 0; width: 100%; }
.coordinates {
background: rgba(0, 0, 0, 0.5);
color: #fff;
position: absolute;
bottom: 40px;
left: 10px;
padding: 5px 10px;
margin: 0;
font-size: 11px;
line-height: 18px;
border-radius: 3px;
display: none;
}
.parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
}

.btn-upload {
  background-color: #fff;
  border: 3px solid #000;
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
}
.datepicker{
  margin-left:110px;
}   
    <div class="container-sm">100% wide until small breakpoint</div>
    <div class="container-md">100% wide until medium breakpoint</div>
    <div class="container-lg">100% wide until large breakpoint</div>
    <div class="container-xl">100% wide until extra large breakpoint</div>
   
</style>



<header>
  <img src="/assets/logo.jpg" style="width:160px; height:60px;margin-left:33px;margin-top:12px">
    <nav class=" tainer"  style="margin-top:23px;">
        <ul class="nu">
            
           <li class="i"> Nom et emplacement <br>
            <section>
                <p></p>
                <p ></p> 
                <p></p>

            </section>
              


           </div>

       
           </li>
            <li class="i">Configuration de l'hébergement <br>
             <section>
                <p></p>
                <p></p> 
                <p></p>

             </section>
         
  
            
            
            </li>
            <li class="i">Photo <br>
          <section>
            <p></p>
      
          </section>
                
              
           


            </li>
            <li class="i">Tarifs et calendrier <br>
                <section>
                    <p></p>
                    <p></p> 
                    
                </section>
                    
              
                
            </li>
            <li class="i">Révision et finalisation <br>
                <section>
                    <p></p>
                    <p></p> 
                    <p></p>

                </section>
                   
           
            </li>
            
        </ul> 
            
        </nav>
  

</header>


<section class="welcome" onkeypress="refuserToucheEntree(event);">

<!-- Premiere parti -->
  <%= form_tag url_for(action:'create'), methode: "post", multipart: true do%>
<main>
<div class="container">

            <h6>Quel est le nom de votre hébergement?</h6> <br>
                        
                            
            <input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement" ><br>


            <h6>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</h6>

            <%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%><br><br>


            <h6>Que peuvent réserver les clients ?</h6>
            <%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>

            

</div>
</main>
<!-- Deuxieme Parte:!!----------------------------------------------->
<main>
<div class="container1" >


          <p3 style="font-size:16px; margin-bottom:24px;position:relative;top:-53px;"> Ou se situe l'hébergement que vous inscrivez?</h5><br><br>
     
            <span style="font-size:12px; color:#2E2725;">Pays/région</span><br>
          
                <input type="text" name="pays[]" class="form-control" id="" placeholder="Pays/région"><br>
                
      
            <span style="font-size:12px; color:#2E2725;">Ville</span>
        
                <input type="text" name="ville[]" class="form-control" id="ville" placeholder="entrez une ville" ><br>
                
            
            <span style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 1)</span>
        
                <input type="text" name="adresse[]" class="form-control" id="ville1" placeholder="entrez une ville" ><br>

                
            
            <span style="font-size:12px; color:#2E2725;">Code postal</span>
       
                <input type="text" name="code[]" class="form-control" id="" placeholder="entrez votre Code postal"><br>
                
            <span id="caché" style="display: none;">Trouvez votre adresse (ligne 2)

            <%= text_field_tag :adresse2, "",placeholder:"votre adresse" ,class:'form-control'%><br>
            </span><br>
            <span  id="clicke" style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 2)<br>
              
              <span id="clicke1" style="color: blue"> Ajouter </span>

           
            </span>
       
</div>
</main>
<!-- Troisieme Partie --------------------------------------->
<main>   
<div class="container">

         
         <h5 style="margin-left:60px;margin-bottom:24px;position:relative;top:-33px"> Carte</h5>
<div id="map"></div>
<div id="coordinates" class="coordinates"></div>

</div>
</main>
<!-- Quatriéme Partie------------------------------------------------->
<main>
<div class="container" style="top:66px;">

<h5 style="margin-bottom:24px;position:relative;top:-59px;"> Information sur l'hébergement</h5>

<h6 style="margin-bottom:14px;position:relative;top:-23px">Où les clients peuvent-ils dormir ?</h6>


<span class="card-body" style="padding-left:0px;">

 
 <%Chambre.all.each do |c|%><br>
 
 <span class="row" data-toggle="modal" data-target="#staticBackdrop">
   <span class="col-6">
     <%= c.title%>
     <small class="za"></small>
   </span>
   <!--  modal -->
   <!-- Button trigger modal -->
   <span class="col-7">
    
     <!-- <button type="button" class="button_ajout_lit" data-toggle="modal" data-target="#staticBackdrop" style="width:77px;"></button> -->
     
   </span>
 </span>
 <!-- Modal -->
 <span class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <span class="modal-dialog modal-dialog-centered">
     <span class="modal-content">
       
       <span class="modal-body">
         <%c.lits.each do |l| %>
         <input type="checkbox" class="checkbox" name="chambre_ids[]" value="<%=l.title%>" >
         <%= l.title%><br>
         <%end%>
       </span>
       <span class="modal-footer">
         <button type="button" class="myButton" data-dismiss="modal">Close</button>
         <button type="button" class="myButton" id="btn" data-dismiss="modal">Save</button>
         
       </span>
       
     </span>
   </span>
 </span>
 <%end%>
</span><br>
<span class="card-body" style="padding-left:0px;">
 
 <%Salon.all.each do |c|%><br>
 
 <span class="row" data-toggle="modal" data-target="#salon">
   <span class="col-6">
     <%= c.title%>
     <small class="salon1"></small>
   </span>
   <!--  modal -->
   <!-- Button trigger modal -->
   <span class="col-7">
     <!-- <a href="#" class="bout1 " data-toggle="modal" data-target="#staticBackdrop" style="" >
     Ajoutez</a> -->
     <!-- <button type="button" class="myButton" data-toggle="modal" data-target="#salon">ajoutez</button> -->
     
   </span>
 </span><br>
 <!-- Modal -->
 <span class="modal fade" id="salon" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <span class="modal-dialog modal-dialog-centered">
     <span class="modal-content">
       
       <span class="modal-body">
         <%c.canapes.each do |l| %>
         <input type="checkbox" class="checkbox" name="salon_ids[]" value="<%=l.title%>" >
         <%= l.title%><br>
         <%end%>
       </span>
       <span class="modal-footer">
         <button type="button" class="myButton" data-dismiss="modal">Close</button>
         <button type="button" class="myButton" id="as" data-dismiss="modal">Save</button>
         
       </span>
       
     </span>
   </span>
 </span>
 <%end%>
</span>
<span class="card-body" style="padding-left:0px;">
 
 <%Autre.all.each do |c|%><br>
 
 <span class="row" data-toggle="modal" data-target="#autre">
   <span class="col-6">
     <%= c.title%>
     <samll class="autre1"></small>
   </span>
   <!--  modal -->
   <!-- Button trigger modal -->
   <span class="col-7">
     <!-- <a href="#" class="bout1 " data-toggle="modal" data-target="#staticBackdrop" style="" >
     Ajoutez</a> -->
     <!--  <button type="button" class="myButton" data-toggle="modal" data-target="#autre">ajoutez</button> -->
     
   </span>
 </span>
 <!-- Modal -->
 <span class="modal fade" id="autre" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
   <span class="modal-dialog modal-dialog-centered">
     <span class="modal-content">
       
       <span class="modal-body">
         <%c.autrelits.each do |l| %>
         <input type="checkbox" class="checkbox" name="autre_ids[]" value="<%=l.title%>" >
         <%= l.title%><br>
         <%end%>
       </span>
       <span class="modal-footer">
         <button type="button" class="myButton" data-dismiss="modal">Close</button>
         <button type="button" class="myButton" id="at" data-dismiss="modal">Save</button>
         
       </span>
       
     </span>
   </span>
 </span>
 <%end%>
</span>
</span>
</div>
</main>
<!--  Cinqiéme Partie------------------------------------------------->
<main>

<div class="container" style="height:688px; padding-top:0px;">

          
         
         
<h5 style="margin-bottom:24px;position:relative;top:-40px"> Quelle epuipement proposer vous? </h5>
           <%Equipement.all.each do |e|%><br>
           <input class="list" type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
           <%= e.title%><br>
           <%end%>
        
       
 
</div>
</main>
<!-- sixiéme Partie------------------------------------------------->
<main>
<div class="container" style="height:533px; padding-top:0px">
      <h5 style="margin-bottom:24px;position:relative;top:-43px"> Règle de la maison </h5>

      <span class="containo" style="width:633px;">
   
      <%Regle.all.each do |d|%><br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="<%=d.id%>">
      <%= d.title%>e<br>
      <%end%><br><br>

  <hr>    
      <h6> Arriveé <br> De </h6>
       <%= select_tag 'arrive', options_for_select(["00h:00","00h:30","01h:00","01h:30","02h:00","02h:30","03h:00","03h:30","04h:00","04h:30","05h:00","05h:30","07h:00","07h:30","08h:00","08h:30","09h:00","09h:30","10h:00","10h:30","11h:00","11h:30","12h:00","12h:30","13h:00","13h:30","14h:00","14h30","15h:00","15h:30","16h:00","16h:30","17h:00","17h:30","18h:00","19h:30","20h:00","20h:30","21h:00","21h:30","22h:00","22h:30","23h:00","23h:30"]),class:"btn btn-primary",onclick:"getValue();"%>
      <label style="margin-left:44px;"> à</label>
      <span style="margin-left:59px;"> </sapn>
         <%= select_tag 'arrive', options_for_select(["00h:00","00h:30","01h:00","01h:30","02h:00","02h:30","03h:00","03h:30","04h:00","04h:30","05h:00","05h:30","07h:00","07h:30","08h:00","08h:30","09h:00","09h:30","10h:00","10h:30","11h:00","11h:30","12h:00","12h:30","13h:00","13h:30","14h:00","14h:30","15h:00","15h:30","16h:00","16h:30","17h:00","17:30","18h:00","19h:30","20h:00","20h:30","21h:00","21h:30","22h:00","22h:30","23h:00","23h:30"]),class:"btn btn-primary"%>
      </sapn>
      <h6> Départ <br> De </h6>
 <%= select_tag 'depart', options_for_select(["00h:00","00h:30","01h:00","01h:30","02h:00","02h:30","03h:00","03h:30","04h:00","04h:30","05h:00","05h:30","07h:00","07h:30","08h:00","08h:30","09h:00","09h:30","10h:00","10h:30","11h:00","11h:30","12h:00","12h:30","13h:00","13h:30","14h:00","14h:30","15h:00","15h:30","16h:00","16h:30","17h:00","17:30","18h:00","19h:30","20h:00","20h:30","21h:00","21h:30","22h:00","22h:30","23h:00","23h:30"]),class:"btn btn-primary"%> 
 <label style="margin-left:44px;"> à</label>
 <span style="margin-left:59px;"> 
<%= select_tag 'depart', options_for_select(["00h:00","00h:30","01h:00","01h:30","02h:00","02h:30","03h:00","03h:30","04h:00","04:30","05h:00","05h:30","07h:00","07h:30","08h:00","08h:30","09h:00","09h:30","10h:00","10h:30","11h:00","11h:30","12h:00","12h:30","13h:00","13h:30","14h:00","14:30","15h:00","15h:30","16h:00","16h:30","17h:00","17:30","18h:00","19h:30","20h:00","20h:30","21h:00","21h:30","22h:00","22h:30","23h:00","23h:30"]),class:"btn btn-primary"%>
      </sapn>
</div>
</main>
<!-- Septe Partie------------------------------------------------->
<main>
<div class="container">
 <h2> photo</h2>
 <%= label_tag 'photos', id: "files-inputs" do %>
                                <div class="parent-div">
                                  <button class="btn-upload" id="12" style="display: block;">Choisir le fichier</button>
                                  <input id="up-1" class="photo-js" type="file" name="photos[]" >
                                </div>
<%for x in 2..8 do%>
                              <input id="up-<%=x%>" class="photo-js" type="file" name="photos[]" style="display:none" >
                            
                              
   
<%end%>
                                      <% end %>
  
<img id="addImage-up-1" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-2" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-3" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-4" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-5" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-6" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-7" alt="" style="display: none; width: 100px;"></img>
<img id="addImage-up-8" alt="" style="display: none; width: 100px;"></img>
  </div>
</main>
<main>
<div class="container" style="width:688px; weight:255px;top:66px;">

<h5 style="margin-bottom:24px;position:relative;top:-53px">Condition d'annulation </h5>
<h6 style="margin-bottom:44px;">Combien de jours avant leur arrivée les clients peuvent-ils annuler leur réservation gratuitement ? </h6>
        <span>
        <label class="bt button1"for="option1"> 1 jours</label>

        
        <label class="bt button1" for="option2">7 jours</label>

        <label class="bt button1" for="option3">14 jours</label>

        
        <label class="bt button1" for="option4">30 jours</label>
        </span>
    
        <span class="none">

        <input type="radio" class="btn-check"  name="condition[]" 
        value="1 jours" id="option1" autocomplete="off"/>
        <input type="radio" class="btn-check" style ="visibility:none;"name="condition[]"
        id="option2" autocomplete="off" value="7 jours" />

        <input type="radio" class="btn-check" name="condition[]" 
        id="option3" autocomplete="off"  value="14 jours" />
        <input type="radio" class="btn-check" name="condition[]" 
        value="30 jours"  id="option4" autocomplete="off" />
       <span>
      
</div>
</main>
<!-- Huitiéme Partie------------------------------------------------->

   <main>
 <div class="container" style="width:800px; height:440px">
   <h4> calendrier </h4><br>
   <label style="color:#696565;">Cliquez sur chaque date individuellement. Toutes les dates visibles sont disponibles à la réservation. Ne vous inquitez pas, vous pourrez toujours ajouter ou supprimer des dates plus tard.</label>
   <br>
   <br>
   <div class="bx--form-item">
   <input type="text" id="start_date" class="datepicker" placeholder=" date de début " name="start_date[]">
   <input type="text" id="end_date" class="datepicker  " placeholder="date de fin" name="end_date[]">
   <div>
</div>
</main>

<!-- Neuviéme Partie------------------------------------------------->

<main>
<div class="container" style="height:564px; top:66px;">

 


<h5 style="margin-bottom:24px;position:relative;top:-49px;"> Information sur l'hébergement</h5>

  <h6 style="margin-bottom:24px;position:relative;top:9px;"> Vérifier les informations sur votre hébergement</h6>
  <h6 style="font-size:15px;color:#696565;">Si vous souhaitez modifier les informations mieux,vaut le faire maitenant. <br> En effet il est plus difficile de les mettres à jour par la suite </h6>
  
 <hr>

    <h6 > Adresse de l'hébergement</h6><br>
    <!-- Button trigger modal -->
<a  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter">
 Modifier   
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <span style="font-size:12px; color:#2E2725;">Ville</span>
        
                <input type="text" name="ville[]" class="form-control" id="ville2" placeholder="entrez une ville" ><br>
                
            
            <span style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 1)</span>
        
                <%= text_field_tag :adresse, "" ,class:'form-control',id:"ville3"%><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Save change</button>
      
      </div>
    </div>
  </div>
</div>
    <section style="font-size:15px; color:#696565; " id="az"></section><br>
  
 <hr>
    <h6> Emplacement sur la carte</h6><br>
    <a href="#" role="button" style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>
 <hr>   <%=submit_tag 'cre'%>
<%end%>

    <h6> Nom de l'hébergement</h6><br>
    

    <section style="font-size:15px; color:#696565; "> La Villa Nath - Saint Gilles les Bains</section>
    <a  href="#"  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>

</div>
<!-- Di------------------------------------------------->


</main>
<main>
<div class="container" style="width:555px;height:380px;">
<h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Quelques informations importante avant d'inscrire votre hébergement:</h5>


  <h5 style="font-size:17px;" > Les réservations sont elle confirmées immediatement?</h5>
  <h6  style="color:#696565;">Oui, des qu'un client éffectue une réservation,celle ci confirmées immédiatement </h6><br>

    <h5 style="font-size:17px;"> Puis je choisir qui séjourne dans mon hébergement?</h5>
    <h6 style="color:#696565;" >Non tout nos utilisateurs peuvent réservé  une date </h6><br>
    



    <h5 style="font-size:17px;"> Puis je choisir les jours pour lesqueles je recois les réservations ?</h5>
    <h6 style="color:#696565;" >Oui, il vous suffit de vous assurer  de votre calendrier est a jour.Fermez tout les dates pour lesquelles 
      vous ne souhaiter pas recevoir de réservation. Si vous recu des réservations via d'autre site, veuillez également férmez les dates en question
    </h6><br>
</div>

<!-- Di------------------------------------------------->




</main>


<main>

<div class="container" style="width:577px;margin-top:44px;margin-left:369px;height:433px;top:66px;">
<h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Et voila! Vous avez fait tout le nécessaire ain de pouvoir acceillir vos Premieres clients</h5>
<h6 > Une fois votre inscription terminer, vous pourrez:</h6>
             <ul style="color:#696565;margin-left:22px;"  >
              <li>Gérer votre hébergement à partir de votre de bord</li><br>
              <li>Recevoir des réservations des clients qui se rendent sur notre site et gagner de l'argent</li><br>
              <li>Garder le contrôle des réservations de tous les sites sur lesquelles vous êtes inscrit(e) en synchronisant votre calendrier </li>
             
             </ul>
             
         
             <input type="checkbox">
             <label > J’atteste qu’il s’agit d’une activité d’hébergement légale disposant de  </label><br>
             <label>toutes les autorisations nécessaires pouvant être présentées sur demande Runbnb.com</label></br>
             <input type="checkbox" >
             <label> J’ai lu et j’accepte les Conditions Générales de Runbnb.com</label><br>
           


</div>
</main>




<span class="b">
<span name ="prev" class="button">Precédent</span>
<span name= "next" class="button">Continuer</span>
</span>

</section>




    

</body>

<script type="text/javascript">noPressEnter(document.body);</script>
<script>
var main = document.getElementsByTagName('main');
var button = document.getElementsByClassName('button');
var p = document.getElementsByTagName('p');
var section = document.getElementsByTagName('section')[0];
section.onsubmit =()=>{return false}

var current_main = 0;
main[current_main].style.display = "block";
if (current_main == 0)
{
    button[0].style.display = "none";
    p[0].style.backgroundColor = "royalblue";


}

button[1].onclick = ()=>{
  current_main++;
  var back_main = current_main - 1;
  if ((current_main > 0) && (current_main < 12))
  {
    button[0].style.display = "block";
    main[current_main].style.display = "block";
    main[back_main].style.display = "none";
    p[current_main].style.backgroundColor = "royalblue";
    p[back_main].style.backgroundColor = "#ededed";
    button[1].style.cssText ="float:right; margin-right:88px;"
 



    if (current_main == 11)
    {
      button[1].innerHTML = "Ouvrir mon hébergement à la réservation ";
      button[1].style.cssText = "width:300px;left:412px;"
      button[0].style.display ="none";
    }

  }
  else
  {
      if (current_main > 11) 
      {
        section.onsubmit =()=>{return true}

      }
  }
}

button[0].onclick = ()=>{     

{
    current_main--;
    var back_main =current_main +1;
    main[current_main].style.display= "block";
        main[back_main].style.display = "none";
        p[current_main].style.backgroundColor ="royalblue";
        p[back_main].style.backgroundColor = "#ededed" ;
        if (current_main < 12)
          {
            button[1].innerHTML = "Continuer";
         

        }
      

}

if (current_main == 0) {
  button[0].style.display = "none";

}



}

</script>

</script>
    <script type="text/javascript">
  
    function chambre(name) {
    const checkboxes = document.querySelectorAll(`input[name="chambre_ids[]"]:checked`);
    let values = [];
    checkboxes.forEach((checkbox) => {
    values.push(checkbox.value);
    });
    return values;
    }
    const btn = document.querySelector('#btn');
    btn.addEventListener('click', (event) => {
      document.querySelector('.za').innerHTML = chambre('values')
    alert(chambre('values'));
    });
  
   
    function getSelectedCheckboxValues(name) {
    const checkboxes = document.querySelectorAll(`input[name="salon_ids[]"]:checked`);
    let valeur = [];
    checkboxes.forEach((checkbox) => {
    valeur.push(checkbox.value);
    });
    return valeur;
    }
    const ba = document.querySelector('#as');
    ba.addEventListener('click', (event) => {
      document.querySelector('.salon1').innerHTML = getSelectedCheckboxValues('valeur')
    alert(getSelectedCheckboxValues('valeur'));
    });


     function autre(name) {
    const checkboxes = document.querySelectorAll(`input[name="autre_ids[]"]:checked`);
    let valeur = [];
    checkboxes.forEach((checkbox) => {
    valeur.push(checkbox.value);
    });
    return valeur;
    }
    const bn = document.querySelector('#at');
    bn.addEventListener('click', (event) => {
      document.querySelector('.autre1').innerHTML = autre('valeur')
    alert(autre('valeur'));
    });

    </script>

      <script >
      var cache = document.getElementById("caché")
      var clicke1 = document.getElementById("clicke1")
      var clicke = document.getElementById("clicke")
       clicke1.onclick = function () {
        cache.style.display= "block";
        clicke.style.display="none"
        }
    $(".datepicker").load("contenu.html"); // un élément portant l'id "content" existe dans contenu.html

    $(function($){
    var datepicker = $( ".datepicker").datepicker({
       minDate: 0,
       onSelect: function(date){
        var option = this.id = 'start_date'? 'minDate' : 'maxDate';
        datepicker.not('#'+this.id).datepicker('option',option,date);

        }
    }) 
    });
    </script>
<script type="text/javascript">
    var p1 = document.getElementById("up-1");
    var p2 = document.getElementById("up-2");
    var p3 = document.getElementById("up-3");
    var p4 = document.getElementById("up-4");
    var p5 = document.getElementById("up-5");
    var p6 = document.getElementById("up-6");
    var p7 = document.getElementById("up-7");
    var p8 = document.getElementById("up-8");
    var p12 = document.getElementById('12');
    p1.onclick = function (){
      p2.style.display="block";
      p1.style.display="none";
      p12.style.display="none"
    }
     p2.onclick = function (){
      p3.style.display="block";
      p2.style.display="none";
    }
     p3.onclick = function (){
      p4.style.display="block";
      p3.style.display="none";
    }
     p4.onclick = function (){
      p5.style.display="block";
      p4.style.display="none";
    }
     p5.onclick = function (){
      p6.style.display="block";
      p5.style.display="none";
    }
     p6.onclick = function (){
      p7.style.display="block";
      p6.style.display="none";
    }
     p7.onclick = function (){
      p8.style.display="block";
      p7.style.display="none";
    }
    p8.onclick = function (){
      p8.style.display="none";
    }

  </script>
<script >
  function shwoMyImage(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#addImage-'+input.id).attr('src', e.target.result);
        $('#addImage-'+input.id).show();
      }
      reader.readAsDataURL(input.files[0]);
    }
  }

  $(".photo-js").change(function() {
    shwoMyImage(this);
  });
</script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1Ijoicm9sbGFuZGphc21pZSIsImEiOiJja2V2OXUyazYxbjJhMnduMGZ2NmU3YmRrIn0.qwoke-4A7fwXdW3JXu4cIw';
var coordinates = document.getElementById('coordinates');
var map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/streets-v11',
center: [55.5418558827792, -21.11980347123354],
zoom: 9
});
 var geocoder = new MapboxGeocoder({
accessToken: mapboxgl.accessToken,
mapboxgl: mapboxgl
});
 
var marker = new mapboxgl.Marker({
draggable: true
})
.setLngLat([55.5418558827792, -21.11980347123354])
.addTo(map);
 
function onDragEnd() {
var lngLat = marker.getLngLat();
coordinates.style.display = 'block';
coordinates.innerHTML =
'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
}
 
marker.on('dragend', onDragEnd);
</script>
<script >
function getValue() {
    // Sélectionner l'élément input et récupérer sa valeur
      var h1 = document.createElement('label');
    var input = document.getElementById("ville").value;
    var input1 = document.getElementById("ville1").value;
    // Afficher la valeur
h1.innerText = input + "-"+ input1;
      document.getElementById("az").appendChild(h1)



}

</script>
<script type="text/javascript">
  function refuserToucheEntree(event)
{
    // Compatibilité IE / Firefox
    if(!event && window.event) {
        event = window.event;
    }
    // IE
    if(event.keyCode == 13) {
        event.returnValue = false;
        event.cancelBubble = true;
    }
    // DOM
    if(event.which == 13) {
        event.preventDefault();
        event.stopPropagation();
    }
}

</script>


