

<link rel="stylesheet" type="text/css" href="/css/logements.css">
<!--
ccccccccccooooooooooooooddddddddddddddeeeeeeeeeeee -->


<link rel="stylesheet" href="style.css">
</head>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="carrou.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p{
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background: #ededed;
        margin:2px 2px;
        display: inline-flex;
    }

 .lead{
     width: 350px;
 }

.container{
           width: 700px;
           margin-left:200px;
       }
     
   
       .jumbo1{
           position:relative;
           top:-54px;
           background-color:#F4F4F4 ;
           border-radius: 14px;
           padding-left: 12px;
           padding-top: 55px;
           height: 344px;
       }
      
       .lead{
           font-size: 18px;
       }
       input[name="r"]{
       position: absolute;
       visibility: hidden;
   }
       @media(max-width: 425px){
           .tainer{
               width: 826px;
               
           }
           .container{
           width: 700px;
           margin-left: 23px;
       }
       
   
       }
   
   


   p{
       width: 30px;
       height: 5px;
       border-radius: 2px;
       background: #ededed;
       margin:2px 2px;
       display: inline-flex;
   }
   .d {
       margin-left: 22px;

   }

   .e{
       margin-right: 12px;
   }

   form{
       width: 600px;
       margin:100px auto;

   }
   div{
       width:100%;
       margin:1px auto;
       display: none;
       


   }
    

    input{
        width: 96%;
        padding:6px;
        border: 1px solid #797979;
        margin-left:0px;
        font-size:20px;
        border-radius: 3px;
    }

    button{
        margin: 20px;
        padding: 10px;
        width: 100px;
        border: none;
        outline:none;
        cursor:pointer;
        border-radius:5px;
        background:rgb(233, 80, 10);
        font-size:12px;
        font-weight: bold;
        color: whitesmoke;
        float: left;

    }


        span{
        display: block;
        color: black;
        float: left;

        }

        .jumbo2{
          position:relative;
          top:-24px;
            background-color:#F4F4F4 ;
            width: 700px;
           border-radius: 14px;
           padding-left: 27px;
           padding-top: 55px;
           height: 300px;
           margin-left: 79px;

        }
        .jumbo3{
          position:relative;
          background-color:#F4F4F4 ;
          top:-84px;
          padding-top: 22px;
          right:65px;
        

        }
        .container1{
          position:relative;
          top:-199px
            width: 700px;
            margin-left: 0px;
            background-color:#F4F4F4 ;

          

        }
        form.welcome{
          margin-left:0px;
          padding-left:0px;
        }


  
  

        .p3{
          width:300px;
          height:27px;
          margin-left:0px;
        }

        .p2{
          width:300px;
          height:27px;
          margin-left:0px;
        }


        .p{
          width:300px;
          height:27px;
          margin-left:20px;
        }

     

        input.form-control{
          width:560px;
       
        }
    

       .container{
            width: 700px;
            margin-left: 79px;
        }
    
       
      
        .lead{
            font-size: 18px;
        }
        input[name="r"]{
        position: absolute;
        visibility: hidden;
    }
        @media(max-width: 425px){
            .tainer{
                width: 826px;
                
            }
            .container{
            width: 700px;
            margin-left: 23px;
        }
        
    
        }
    
    

    
 







* {
  box-sizing: border-box;
}

.tainer{
    background: #26AEDE;
    width: 100%;
    padding: 0px;
    margin-top: 66px;

}
ul.nu{
    list-style-type:none;
    margin-left: 22px;
    margin-right: 50px;

}

.i {
    color: rgb(241, 238, 235);
    text-decoration: none;

}

.nu li{
    font-size: 13px;
    padding: 20px 0px;
    margin-left: 69px;

     
}
nav.bar{
    width: 100%;
}

.nu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}




/* nav  blue */
.i li{
    width: 100%;
    align-items: center;
    
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 425px) {

  .nu{
    display: block;
 
    padding-left: 0px;
    margin-left: 0px;

 
    
    
}
.tainer{


    font-family: 'Roboto', sans-serif;


    background: #26AEDE;
    width: 100%;
    height: 300px;
    padding: 0px;
    margin-top: 66px;

}
.steps .clearfix{
    color: black;
}


}
</style>
<header>
    <nav class=" tainer">
        <ul class="nu">
            
           <li class="i"> Nom et emplacement <br>
            <section>
                <p></p>
                <p></p> 
                <p></p>

            </section>
              


           </div>

       
           </li>
            <li class="i">Configuration de l'hébergement <br>
             <section>
                <p></p>
                <p></p> 
                <p></p>

             </section>
         
  
            
            
            </li>
            <li class="i">Photo <br>
          <section>
            <p></p>
            <p></p> 
          </section>
                
              
           


            </li>
            <li class="i">Tarifs et calendrier <br>
                <section>
                    <p></p>
                    <p></p> 
                    <p></p>
                </section>
                    
              
                
            </li>
            <li class="i">Révision et finalisation <br>
                <section>
                    <p></p>
                    <p></p> 
                    <p></p>

                </section>
                   
           
            </li>
            
        </ul> 
            
        </nav>
  

</header>


<body>
    <form class="welcome">
        <main role="main" class="container"> <br>
       <div class="jumbo1">
       
    
        <h6>Quel est le nom de votre hébergement?</h6> <br>
               
                   
        <input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement"><br>

  
      <h6>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</h6>
      
      <%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%><br><br>
      
  
          <h6>Que peuvent réserver les clients ?</h6>
          <%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>
  

  
     </div>

      
                 
    </main>
    <div class="container"> <br>

    <main class="jumbo1">

    <h5> ou se situe l'hébergement que vous inscrivez?</h5>
   
            <p3>Pays/région</p><br>
          
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pays/région"><br>
                
      
            <p3>Ville</p>
        
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez une ville"><br>
                
            
            <p3>Trouvez votre adresse (ligne 1)</p>
        
                <%= text_field_tag :adresse, "" ,class:'form-control'%><br>
                
            
            <p3>Code postal</p>
       
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez votre Code postal"><br>
                
            
            <p3>Trouvez votre adresse (ligne 2)</p><br>
            <a href="">Ajouter</a>
      



     </div>
    
   </main>
   <main role="main" class="container" > <br>
         <div class="jumbo3" style="height:355px;padding-left:14px; border-radius:18px">

        
        <span class="card-body">
          <h5>Où les clients peuvent-ils dormir ?</h5>
          
          <%Chambre.all.each do |c|%><br>
          
          <span class="row">
            <span class="col-6">
              <%= c.title%>
              <p class="za"></p>
            </span>
            <!--  modal -->
            <!-- Button trigger modal -->
            <span class="col-7">
              <!-- <a href="#" class="bout1 " data-toggle="modal" data-target="#staticBackdrop" style="" >
              Ajoutez</a> -->
              <button type="button" class="myButton" data-toggle="modal" data-target="#staticBackdrop">ajoutez</button>
              
            </span>
          </span>
          <!-- Modal -->
          <span class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <span class="modal-dialog modal-dialog-centered">
              <span class="modal-content">
                
                <span class="modal-body">
                  <%c.lit.each do |l| %>
                  <input type="checkbox" name="chambre_ids[]" value="<%=l.title%>" >
                  <%= l.title%><br>
                  <%end%>
                </span>
                <span class="modal-footer">
                  <button type="button" class="myBu" data-dismiss="modal">Close</button>
                  <button type="button" class="myBu" id="btn" data-dismiss="modal">Save</button>
                  
                </span>
                
              </span>
            </span>
          </span>
          <%end%>
        </span>
        </div> 
      </span>
      </div>
<br>


<style>
  .myButton{
      font-size: 9px;
      
  }
  .p4{
    width: 200px;
    height: 15px;
    margin-left: 22px;
    color: black;
  }

  .col-6{
    padding-left: 0px;

  }
    .col-7{
    left: 200px;
   bottom:43px
  }

  input{
    width: 100px;
  }

  .h{
    
  }

</style>
<main role="main" class="container"> <br><br>
     <div class="jumbo3">

          

         
         
           <h2>Equipement</h2><br>
           <%Equipement.all.each do |e|%><br>
           <input type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
           <%= e.title%><br>
           <%end%>
        
           </span>
       </div>
    </main>
    <main role="main" class="container"> <br><br>
     <div class="jumbo1">

          

         
       </div>
    </main>

            
  

  <style>
  a.btn .btn-light{
    color: black;
    position: relative;t
    op:-60px;l
    eft:333px

  }
  
  </style>

      </main>





        
        

        <button name ="prev" class="bu">Precédent</button>
        <button name="next" class="bu">Continuer</button>


    </form>

    
</body>

<script>
var div = document.getElementsByTagName('div');
var button = document.getElementsByClassName('bu');
var p = document.getElementsByTagName('p');
var form = document.getElementsByTagName('form')[0];
form.onsubmit =()=>{return false}

var current_div = 0;
div[current_div].style.display = "block";
if (current_div == 0)
 {
     button[0].style.display = "none";
     p[0].style.backgroundColor = "red" ;
      
 }

 button[1].onclick = ()=>{
     current_div++;
     var back_div = current_div -1;
     if ((current_div >0)&& (current_div < 6  )) 
     {
         button[0].style.display = "block";
         div[current_div].style.display= "block";
         div[back_div].style.display = "none";
         p[current_div].style.backgroundColor ="royalblue";
         p[back_div].style.backgroundColor = "#ededed" ;
         if (current_div ==3)
         {
             buttton[1].innerHTML = "vita"
         }

     }
     else 
     {
         if (current_div >5 )
         {
            form.onsubmit =()=>{return true}

         }
     }

 }

 button[0].onclick = ()=>
 {
     current_div--;
     var back_div =current_div +1;
     div[current_div].style.display= "block";
         div[back_div].style.display = "none";
         p[current_div].style.backgroundColor ="royalblue";
         p[back_div].style.backgroundColor = "#ededed" ;

 }

    
    </script>
    <script type="text/javascript">
  
    function getSelectedCheckboxValues(name) {
    const checkboxes = document.querySelectorAll(`input[name="chambre_ids[]"]:checked`);
    let values = [];
    checkboxes.forEach((checkbox) => {
    values.push(checkbox.value);
    });
    return values;
    }
    const btn = document.querySelector('#btn');
    btn.addEventListener('click', (event) => {
      document.querySelector('.za').innerHTML = getSelectedCheckboxValues('values')
    alert(getSelectedCheckboxValues('values'));
    });
    
      function chercher(){
    var ville = $("#ville").val();
    if(ville != ""){
    $.ajax({
    url: "https://nominatim.openstreetmap.org/search", // URL de Nominatim
    type: 'get', // Requête de type GET
    data: "q="+ville+"&format=json&addressdetails=1&limit=1&polygon_svg=1" // Données envoyées (q -> adresse complète, format -> format attendu pour la réponse, limit -> nombre de réponses attendu, polygon_svg -> fournit les données de polygone de la réponse en svg)
    }).done(function (response) {
    if(response != ""){
    userlat = response[0]['lat'];
    userlon = response[0]['lon'];
    }
    }).fail(function (error) {
    alert(error);
    });
    }
    }
    
    </script>

  