

<link rel="stylesheet" type="text/css" href="/css/logements.css">
<!--
ccccccccccooooooooooooooddddddddddddddeeeeeeeeeeee -->
<div class="conte">
	<%= form_tag url_for(action:'create'), methode: "post" do%>
	<div class="contenu" style="position: relative;top: 50px;" >
		<section class="étape0">
			<h1 class="titre">  Inscrivez votre hébergement sur RunBnB et commencez à recevoir des clients en un rien de temps !</h1>
			<div class="content">
				<div class="nom">
					<p>Quel est le nom de votre hébergement?</p>
					<div class="form-group">
						
						<input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement">
						
					</div>
				</div>
				<div class="catégorie">
					<p>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</p>
					
					<%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%>
					
					
				</div>
				<div class="type" style="position: relative;top: 20px;">
					<p>Que peuvent réserver les clients ?</p>
					<%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>
					
				</div>
			</div>
			
			
			<!--  <button class="boutton" type="button">suivant</button> -->
			<a href="#" class="myButton" style="position: relative; top: 50px">Suivant</a>
			
			
		</section>
		<section class="étape1">
			<div class="adresse">
				<h1 class="titre">ou se situe l'hébergement que vous inscrivez?</h1>
				<div class="card bg-light" style="position: relative;top: 50px; width: 500px;">
					<div class="card-body">
						<p>Pays/région</p>
						<div class="form-group">
							<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pays/région">
							
						</div>
						<p>Ville</p>
						<div class="form-group">
							<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez une ville">
							
						</div>
						<p>Trouvez votre adresse (ligne 1)</p>
						<div class="form-group">
							<%= text_area_tag :adresse, "" ,class:'form-control'%>
							
						</div>
						<p>Code postal</p>
						<div class="form-group">
							<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez votre Code postal">
							
						</div>
						<p>Trouvez votre adresse (ligne 2)</p>
						<a href="">Ajouter</a>
					</div>
				</div>
			</div>
		</section>
		<section class="étape2" style="position: relative;top: 200px;">
			<div class="card bg-light" style="position: relative;top: 50px; width: 500px;">
				
				<div class="card-body">
					<p>Où les clients peuvent-ils dormir ?</p>
					
					<%Chambre.all.each do |c|%><br>
					
					<div class="row">
						<div class="col-6">
							<%= c.title%>
							<p class="za"></p>
						</div>
						<!-- 	modal -->
						<!-- Button trigger modal -->
						<div class="col-6">
							<!-- <a href="#" class="bout1 " data-toggle="modal" data-target="#staticBackdrop" style="" >
							Ajoutez</a> -->
							<button type="button" class="myButton" data-toggle="modal" data-target="#staticBackdrop">ajoutez</button>
							
						</div>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog modal-dialog-centered">
							<div class="modal-content">
								
								<div class="modal-body">
									<%c.lit.each do |l| %>
									<input type="checkbox" name="chambre_ids[]" value="<%=l.title%>" >
									<%= l.title%><br>
									<%end%>
								</div>
								<div class="modal-footer">
									<button type="button" class="myButton" data-dismiss="modal">Close</button>
									<button type="button" class="myButton" id="btn" data-dismiss="modal">Save</button>
									
								</div>
								
							</div>
						</div>
					</div>
					<%end%>
				</div>
			</div>
		<div class="" style="">
			<h2>Equipement</h2><br>
			<%Equipement.all.each do |e|%><br>
			<input type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
			<%= e.title%><br>
			<%end%>
		</div>
		<div class="" style="">

			<h2>Règle de maison</h2><br>
			<%Regle.all.each do |d|%><br>
			<input type="checkbox" name="regle_ids[]" value="<%=d.id%>">
			<%= d.title%>
			<%end%><br>
				<p>arriveé</p>
				<input type="text" name="arrive[]">
				<input type="text" name="arrive[]">
				<p>départ</p>
				<input type="text" name="depart[]">
				<input type="text" name="depart[]">

		</div>
		<div>
			<h3>Condition d'annulation </h3>
			  <div class="btn-group">
				  <input type="radio" class="btn-check"  name="condition[]" 
				   value="1 jours" id="option1" autocomplete="off"/>
				  <label class="btn btn-secondary" for="option1"> 1 jours</label>

				  <input type="radio" class="btn-check" name="condition[]"
				   id="option2" autocomplete="off" value="7 jours" />
				  <label class="btn btn-secondary" for="option2">7 jours</label>

				  <input type="radio" class="btn-check" name="condition[]" 
				  id="option3" autocomplete="off"  value="14 jours" />
				  <label class="btn btn-secondary" for="option3">14 jours</label>

				    <input type="radio" class="btn-check" name="condition[]" 
				     value="30 jours"  id="option4" autocomplete="off" />
				  <label class="btn btn-secondary" for="option4">30 jours</label>
			</div>
			</div>
			<div> <br><br>
				<h3>Calandrier de reservation</h3>
				<%= month_calendar do | date | %> 
				  <%= date %> 
				<% end %>
				</div>
			</div>
		</section>
		<section class="creer" style="position: relative;top: 500px">
			<div class="bout1" >
				<a href="#" class="myButton">précedent</a>
				<%= submit_tag 'creer' ,class:'myButton'%>
			</div>
		</section>
	</div>
	<%end%>
</div>
<script type="text/javascript">
function getSelectedCheckboxValues(name) {
const checkboxes = document.querySelectorAll(`input[name="chambre_ids[]"]:checked`);
let values = [];
checkboxes.forEach((checkbox) => {
values.push(checkbox.value);
});
return values;
}
const btn = document.querySelector('#btn');
btn.addEventListener('click', (event) => {
	document.querySelector('.za').innerHTML = getSelectedCheckboxValues('values')
alert(getSelectedCheckboxValues('values'));
});
</script>

<link rel="stylesheet" href="style.css">
</head>
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="carrou.css">
<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
p{
        width: 30px;
        height: 5px;
        border-radius: 2px;
        background: #ededed;
        margin:2px 2px;
        display: inline-flex;
    }

 .lead{
     width: 350px;
 }

.container{
           width: 700px;
           margin-left:200px;
       }
   
       .jumbo1{
           position:relative;
           top:-54px;
           background-color:#F4F4F4 ;
           border-radius: 14px;
           padding-left: 12px;
           padding-top: 55px;
           height: 300px;
       }
      
       .lead{
           font-size: 18px;
       }
       input[name="r"]{
       position: absolute;
       visibility: hidden;
   }
       @media(max-width: 425px){
           .tainer{
               width: 826px;
               
           }
           .container{
           width: 700px;
           margin-left: 23px;
       }
       
   
       }
   
   


   p{
       width: 30px;
       height: 5px;
       border-radius: 2px;
       background: #ededed;
       margin:2px 2px;
       display: inline-flex;
   }
   .d {
       margin-left: 22px;

   }

   .e{
       margin-right: 12px;
   }

   form{
       width: 600px;
       margin:100px auto;

   }
   div{
       width:100%;
       margin:1px auto;
       display: none;
       


   }
    

    input{
        width: 96%;
        padding:6px;
        border: 1px solid #797979;
        margin-left:0px;
        font-size:20px;
        border-radius: 3px;
    }

    button{
        margin: 20px;
        padding: 10px;
        width: 100px;
        border: none;
        outline:none;
        cursor:pointer;
        border-radius:5px;
        background:rgb(233, 80, 10);
        font-size:12px;
        font-weight: bold;
        color: whitesmoke;
        float: left;

    }


        span{
        display: block;
        color: red;
        font-style :italic;
        margin-left:20px;

        }

        .jumbo2{
          position:relative;
          top:-24px;
            background-color:#F4F4F4 ;
            width: 700px;
           border-radius: 14px;
           padding-left: 27px;
           padding-top: 55px;
           height: 300px;
           margin-left: 79px;

        }
        .jumbo3{
          position:relative;
          top:-184px;
            background-color:#F4F4F4 ;
            width: 700px;
           border-radius: 14px;
           padding-left: 12px;
           padding-top: 55px;
           height: 300px;
           margin-left: 79px;
        }

        .p3{
          width:300px;
          height:27px;
          margin-left:0px;
        }

        .p2{
          width:300px;
          height:27px;
          margin-left:0px;
        }


        .p{
          width:300px;
          height:27px;
          margin-left:20px;
        }

     

        input.form-control{
          width:560px;
       
        }


       .container{
            width: 700px;
            margin-left: 79px;
        }
    
       
      
        .lead{
            font-size: 18px;
        }
        input[name="r"]{
        position: absolute;
        visibility: hidden;
    }
        @media(max-width: 425px){
            .tainer{
                width: 826px;
                
            }
            .container{
            width: 700px;
            margin-left: 23px;
        }
        
    
        }
    
    

    
 







* {
  box-sizing: border-box;
}

.tainer{
    background: #26AEDE;
    width: 100%;
    padding: 0px;
    margin-top: 66px;

}
ul.nu{
    list-style-type:none;
    margin-left: 22px;
    margin-right: 50px;

}

.i {
    color: rgb(241, 238, 235);
    text-decoration: none;

}

.nu li{
    font-size: 13px;
    padding: 20px 0px;
    margin-left: 69px;

     
}
nav.bar{
    width: 100%;
}

.nu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}




/* nav  blue */
.i li{
    width: 100%;
    align-items: center;
    
}



/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 425px) {

  .nu{
    display: block;
 
    padding-left: 0px;
    margin-left: 0px;

 
    
    
}
.tainer{


    font-family: 'Roboto', sans-serif;


    background: #26AEDE;
    width: 100%;
    height: 300px;
    padding: 0px;
    margin-top: 66px;

}
.steps .clearfix{
    color: black;
}
}
</style>
<header>
    <nav class=" tainer">
        <ul class="nu">
            
           <li class="i"> Nom et emplacement <br>
            <section>
                <p></p>
                <p></p> 
                <p></p>

            </section>
              


           </div>

       
           </li>
            <li class="i">Configuration de l'hébergement <br>
             <section>
                <p></p>
                <p></p> 
                <p></p>

             </section>
         
  
            
            
            </li>
            <li class="i">Photo <br>
          <section>
            <p></p>
            <p></p> 
          </section>
                
              
           


            </li>
            <li class="i">Tarifs et calendrier <br>
                <section>
                    <p></p>
                    <p></p> 
                    <p></p>
                </section>
                    
              
                
            </li>
            <li class="i">Révision et finalisation <br>
                <section>
                    <p></p>
                    <p></p> 
                    <p></p>

                </section>
                   
           
            </li>
            
        </ul> 
            
        </nav>
  

</header>


<body>
    <form action="welcome"></form>
        <main role="main" class="container"> <br>
       <div class="jumbo1">
       
    
        <p class="p">Quel est le nom de votre hébergement?</p> <br>
               
                   
        <input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement"><br>

  
      <p class="p">Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</p>
      
      <%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px ,margin-let:23px"%><br><br>
      
  
          <p class="p">Que peuvent réserver les clients ?</p><br>
          <%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px,margin-left:23px"%>
  

  
     </div>

      
                 
    </main>
    <main role="main" class="container"> <br>
    <div class="jumbo3">

    <h6 class="titre"> ou se situe l'hébergement que vous inscrivez?</h6>
   
            <p3>Pays/région</p><br>
          
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pays/région"><br>
                
      
            <p3>Ville</p>
        
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez une ville"><br>
                
            
            <p3>Trouvez votre adresse (ligne 1)</p>
        
                <%= text_field_tag :adresse, "" ,class:'form-control'%><br>
                
            
            <p3>Code postal</p>
       
                <input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez votre Code postal"><br>
                
            
            <p3>Trouvez votre adresse (ligne 2)</p><br>
            <a href="">Ajouter</a>
      



     </div>
    
   </main>
   <main role="main" class="container"> <br>
         <div class="jumbo2">

     
         <h2>Information</h2>
         <%Chambre.all.each do |c|%><br>
         <%= c.title%> <br>
         <%c.lit.each do |l| %>
         <input type="checkbox" name="chambre_ids[]" value="<%=c.id%>" >
         <%= l.title%>
         <%end%>
         <%end%>
<br>
     <div class="" style="">
         <h2>Equipement</h2><br>
         <%Equipement.all.each do |e|%><br>
         <input type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
         <%= e.title%><br>
         <%end%>
     </div>
          

        </div>
  

      </main>





        
        

        <button name="prev">Precédent</button>
        <button name="next">Continuer</button>


    </form>

    
</body>

<script>
var div = document.getElementsByTagName('div');
var button = document.getElementsByTagName('button');
var p = document.getElementsByTagName('p');
var form = document.getElementsByTagName('form')[0];
form.onsubmit =()=>{return false}

var current_div = 0;
div[current_div].style.display = "block";
if (current_div == 0)
 {
     button[0].style.display = "none";
     p[0].style.backgroundColor = "red" ;
      
 }

 button[1].onclick = ()=>{
     current_div++;
     var back_div = current_div -1;
     if ((current_div >0)&& (current_div < 6  )) 
     {
         button[0].style.display = "block";
         div[current_div].style.display= "block";
         div[back_div].style.display = "none";
         p[current_div].style.backgroundColor ="royalblue";
         p[back_div].style.backgroundColor = "#ededed" ;
         if (current_div ==3)
         {
             buttton[1].innerHTML = "vita"
         }

     }
     else 
     {
         if (current_div >5 )
         {
            form.onsubmit =()=>{return true}

         }
     }

 }

 button[0].onclick = ()=>
 {
     current_div--;
     var back_div =current_div +1;
     div[current_div].style.display= "block";
         div[back_div].style.display = "none";
         p[current_div].style.backgroundColor ="royalblue";
         p[back_div].style.backgroundColor = "#ededed" ;

 }

    
    </script>


  

      








    
>>>>>>> front1
