

<link rel="stylesheet" type="text/css" href="/css/logements.css">


<!-- 
ccccccccccooooooooooooooddddddddddddddeeeeeeeeeeee -->


<div class="conte">
			<%= form_tag url_for(action:'create'), methode: "post" do%>
	<section>
		<div class="contenu">
			<h1 class="titre">  Inscrivez votre hébergement sur RunBnB et commencez à recevoir des clients en un rien de temps !</h1>
			<div class="content">
				<div class="nom">
					<p>Quel est le nom de votre hébergement?</p>
					<div class="form-group">
						
						<input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement">
						
					</div>
				</div>
				<div class="catégorie">
					<p>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</p>
					
						<%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%>
				
					
				</div>
				<div class="type" style="position: relative; top: 20px;">
					<p>Que peuvent réserver les clients ?</p>
					<%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>
					
				</div>
			</div>
			
			
			<!--  <button class="boutton" type="button">suivant</button> -->
			<a href="#" class="myButton">Suivant</a>
			
		</div>
	</section>
	<section class="étape1">
		<div class="adresse">
			<h1 class="titre">ou se situe l'hébergement que vous inscrivez?</h1>
			<div class="card bg-light" style="position: relative;top: 50px; width: 500px;">
				<div class="card-body">
					<p>Pays/région</p>
					<div class="form-group">
						<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pays/région">
						
					</div>
					<p>Ville</p>
					<div class="form-group">
						<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez une ville">
						
					</div>
					<p>Trouvez votre adresse (ligne 1)</p>
					<div class="form-group">
						<%= text_area_tag :adresse, "" ,class:'form-control'%>
						
					</div>
					<p>Code postal</p>
					<div class="form-group">
						<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez votre Code postal">
						
					</div>
					<p>Trouvez votre adresse (ligne 2)</p>
					<a href="">Ajouter</a>
				</div>
			</div>
		</div>
		<div class="bout1" style="position: relative;
top: 100px;">
		<%= submit_tag 'creer'%>
		</div>
	</section>
	<%end%>
</div>