
<link rel="stylesheet" href="style.css">
</head>
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="carrou.css">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <style>
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  #ui-datepicker-div{
  width:318px;
  }
  p{
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background: #ededed;
  margin:2px 2px;
  display: inline-flex;
  }
  .container{
  
  border-style: groove;
  
  border-box:1px;
  position:relative;
  top:33px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  
  }
  .container1{
  
  border-style: groove;
  position:relative;
  top:53px;
  margin-left:65px;
  width:500px;
  height:412pxpx;
  padding-top:22px;
  padding:17px;
  
  background-color:#F4F4F4;
  
  }
  .container2{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border:2px;
  position:relative;
  top:33px;
  margin-left:65px;
  width:500px;
  height:466px;
  padding-top:22px;
  padding:17px;
  display:none;
  background-color:#F4F4F4;
  
  }
  main{
  display: none;
  }
  .button{
  
  position:relative;
  top:123px;
  margin-left:77px;
  padding: 10px;
  width: 100px;
  border: none;
  outline:none;
  cursor:pointer;
  border-radius:5px;
  background:rgb(233, 80, 10);
  font-size:12px;
  font-weight: bold;
  color: whitesmoke;
  float:left
  
  }
  .checkbox {
  
  margin-top: 4px;
  width: 75px;
  
  
  }
  input[type='checkbox'] {
  -webkit-appearance:none;
  
  width:20px;
  height:20px;
  background:white;
  border:2px solid rgb(141, 135, 135);
  border-radius:5px;
  
  }
  input[type='checkbox']:checked {
  background: #f96816;
  outline: none;
  
  }
  .bt  {
  background-color: white ;
  border: 1px solid black;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
  }
  
  .bt:not(:last-child) {
  border-right: none; /* Prevent double borders */
  }
  
  .bt:hover {
  background-color: rgb(233, 80, 10);
  }
  .button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .row{
  box-shadow:
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 1.5px 10px rgba(0, 0, 0, 0.06),
  0 2.3px 7.9px rgba(0, 0, 0, 0.052),
  0 4.8px 12.4px rgba(0, 0, 0, 0.056),
  0 2px 2px rgba(0, 0, 0, 0.2)
  ;
  
  
  
  background: white;
  border-radius: 5px;
  
  
  }
  .col-6{
  color:black;
  }
  .list{
  padding:0px;
  }
  span{
  color:black;
  }
  .mivadika{
  float:right;
  }
  .miakatro{
  position:absolute;
  top:-222px;
  display:block;
  font-size:12px;
  
  }
  .none{
  display:none;
  }
  .btn .btn-secondary{
  width: 33px !important;
  }
  #clicke1{
  cursor: pointer;
  }
  .imgPreview{
  max-width:250px;
  max-height:250px;
  }
  #map { position: absolute; top: 30px; bottom: 0; width: 100%; }
  .coordinates {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 10px;
  padding: 5px 10px;
  margin: 0;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  display: none;
  }
  .parent-div {
  display: inline-block;
  position: relative;
  overflow: hidden;
  }
  .parent-div input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  position: absolute;
  font-size: 90px;
  }
  .btn-upload {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  padding: 10px 25px;
  border-radius: 10px;
  font-size: 22px;
  font-weight: bold;
  }
  /*ex-photo*/
  .label-file {
  
  color: #00b1ca;
  }
  .inserer{
  
  border-style: groove;
  
  border-box:1px;
  position:relative;
  
  right: 20px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  }
  .sary{
  
  border-style: groove;
  
  border-box:1px;
  position:relative;
  
  right: 20px;
  width:500px;
  height:333px;
  padding:17px;
  
  background-color:#F4F4F4;
  }
  /*fin*/
  .datepicker{
  margin-left:110px;
  }
  .btn.active{background-color: #F47E54;
  color: whitesmoke;}
  .decrement-js.btn-primary{cursor: pointer;}
  .incremente-js.btn-primary{cursor: pointer;}
  .bu1{
  width:100px;
  height:27px;
  margin-left:55px;
  border-radius: 11px;
  background-color:white;
  text-align: center;
  font-size:12px;
  border: 1px #727C90;;
  color: #727C90;;
  border-style: solid;
  border-width: 2px;
  transition: all 0.5s;
  cursor: pointer;
  outline:none;
  outline: none !important;
  }
  .content-box{
  
  
  
  border-box:0px;
  position:relative;
  top:33px;
  width:400px;
  height:300px;
  padding:17px;
  margin-left:65px;
  
  background-color:transparent;}
  <div class="container-sm">100% wide until small breakpoint</div>
  <div class="container-md">100% wide until medium breakpoint</div>
  <div class="container-lg">100% wide until large breakpoint</div>
  <div class="container-xl">100% wide until extra large breakpoint</div>
  
  </style>
  <header>
    <img src="/assets/logo.jpg" style="width:160px; height:60px;margin-left:33px;margin-top:12px">
    <nav class=" tainer" style="margin-top: 23px;">
      <ul class="nu">
        
        <li class="i"> Nom et emplacement <br>
          <section>
            <p></p>
            <p></p>
            <p></p>
          </section>
          
        </div>
        
      </li>
      <li class="i">Configuration de l'hébergement <br>
        <section>
          <p></p>
          <p></p>
          <p></p>
        </section>
        
        
        
        
      </li>
      <li class="i">Photo <br>
        <section>
          <p></p>
          
        </section>
        
        
        
      </li>
      <li class="i">Tarifs et calendrier <br>
        <section>
          <p></p>
          <p></p>
          
        </section>
        
        
        
      </li>
      <li class="i">Révision et finalisation <br>
        <section>
          <p></p>
          <p></p>
          <p></p>
        </section>
        
        
      </li>
      
    </ul>
    
  </nav>
  
</header>
<section class="welcome" onkeypress="refuserToucheEntree(event);">
  <!-- Premiere parti -->
  <%= form_tag url_for(action:'create'), methode: "post", multipart: true do%>
  <main>
    <span style="position: relative;left:80px;top:30px;font-size:20px;">Inscrivez votre hébergement sur RunBnB et commencez à recevoir des clients en un rien de temps !</span>
    <div class="container"style="position: relative;top:80px;">
      <h6>Quel est le nom de votre hébergement?</h6> <br>
      
      
      <input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement" id="nom1" ><br>
      <h6>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</h6>
      <%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%><br><br>
      <h6>Que peuvent réserver les clients ?</h6>
      <%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>
      
    </div>
  </main>
  <!-- Deuxieme Parte:!!----------------------------------------------->
  <main>
    <h5 style="position:relative;top:30px;left: 70px;"> Ou se situe l'hébergement que vous inscrivez?</h5><br><br>
    <div class="container1" style="position:relative;top:10px;" >
      
      <span style="font-size:12px; color:#2E2725;">Pays/région</span><br>
      <%= text_field_tag :pays, "",placeholder:"Pays/région" ,class:'form-control'%><br>
      
      
      <span style="font-size:12px; color:#2E2725;">Ville</span>
      
      <input type="text" name="ville[]" class="form-control", placeholder="" id="ville1"><br>
      
      <span style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 1)</span>
      <%= text_field_tag :adresse1, "" ,class:'form-control',id:"adresse1"%><br>
      
      
      <span style="font-size:12px; color:#2E2725;">Code postal</span>
      
      <%= text_field_tag :code, "",placeholder:"entrez votre Code postal" ,class:'form-control'%><br>
      
      <span id="caché" style="display: none;">Trouvez votre adresse (ligne 2)
        <%= text_field_tag :adresse2, "",placeholder:"votre adresse" ,class:'form-control'%><br>
      </span><br>
      <span  id="clicke" style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 2)<br>
        
        <span id="clicke1" style="color: blue"> Ajouter </span>
        
      </span>
      
    </div>
  </main>
</div>
</main>
<!-- Troisieme Partie --------------------------------------->
<main>
<div class="content-box">
  
  
  <div id="map"></div>
  <div id="coordinates" class="coordinates"></div>
</div>
</main><!-- Quatriéme Partie------------------------------------------------->
<main>
  <h5 style="position:relative;top:30px;left: 80px;"> Information sur l'hébergement</h5>
  <div class="container" style="position:relative;top:70px;">
    <h6 style="position:relative;top:15px;">Où les clients peuvent-ils dormir ?</h6>
    <div class="card-body" style="padding-left:0px;" id="options">
      <%Chambre.all.each do |c|%><br>
      <span class="row" data-toggle="modal" data-target="#<%=c.title%>">
        <%if c.id == 3 ||c.id == 2 || c.id == 1 %>
        <span class="col-6">
          <%= c.title%>
          <small class="block_<%=c.id%>"></small>
        </span>
        <%end%>
        <!--  modal -->
        <!-- Button trigger modal -->
        
        
        <!-- <button type="button" class="button_ajout_lit" data-toggle="modal" data-target="#staticBackdrop" style="width:77px;"></button> -->
        
      </span>
      <!-- Modal -->
      <span class="modal fade" id="<%=c.title%>" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <span class="modal-dialog modal-dialog-centered">
          <span class="modal-content">
            
            <span class="modal-body">
              <% c.lits.each do |l| %>
              <div style="position: relative;top: 10px;">
                <input type="checkbox" class="checkbox options_list" data-value="<%=l.title%>" data-type="<%=c.id%>" data-id="<%=l.id%>" name="lit_ids[<%=l.id%>]" value="<%=l.title%>">
                <span style="position: relative;left: 20px;bottom: 3px;"> <%= l.title%> </span>
              </div>
              <div style="float: right;position: relative;bottom: 20px;">
                <span class="decrement-js btn-primary" style="padding: 0px 11px;margin:0px 15px;border-radius: 50px;">-</span>
                <input type="text" name="lit_ids[<%=l.id%>]" value="0" id="number"style="width: 30px;text-align: center;">
                <span class="incremente-js btn-primary" style="padding: 0px 8px;margin:0px 15px;border-radius: 50px;">+</span>
              </div>
              <%end%>
            </span>
            <span class="modal-footer">
              <button type="button" class="btn" data-dismiss="modal">Close</button>
              <button type="button" class="btn savebutton" data-idchambre="<%=c.id%>" data-dismiss="modal">Save</button>
              
            </span>
            
          </span>
        </span>
      </span>
      <%end%>
    </div><br>
  </div>
</main>
<!--  Cinqiéme Partie------------------------------------------------->
<main>
  <h5  style="position:relative;top:30px;left: 80px;"> Quelle epuipement proposer vous? </h5>
  <div class="container" style="height:400px; position:relative;top:70px;">
    
    
    
    <%Equipement.all.each do |e|%><br>
    <input class="list" type="checkbox" name="equipement_ids[]" value="<%=e.id%>">
    <span style="position: relative;left: 20px;bottom: 4px;"><%= e.title%></span>
    <%end%>
    
    
    
  </div>
</main>
<!-- sixiéme Partie------------------------------------------------->
<main>
  <h5 style="position:relative;top:30px;left: 80px;"> Règle de la maison </h5>
  <div class="container" style="height:533px;  position:relative;top:70px;>
    <span class="containo" style="width:633px;">
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="9">
      Hébergement fumeure<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="10">
      Animaux domestique admise<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="11">
      Enfant bienvenuee<br>
      <br>
      <input class="mivadika" type="checkbox" name="regle_ids[]" value="12">
      Fêtes/événements autorisése<br>
      <br><br>
      <hr>
      <h6> Arriveé <br> De </h6>
      <select name="arrive" id="arrive" class=" bu1 btn-light" onclick="getValue();"><option value="00h:00">00h:00</option>
      <option value="00h:30">00h:30</option>
      <option value="01h:00">01h:00</option>
      <option value="01h:30">01h:30</option>
      <option value="02h:00">02h:00</option>
      <option value="02h:30">02h:30</option>
      <option value="03h:00">03h:00</option>
      <option value="03h:30">03h:30</option>
      <option value="04h:00">04h:00</option>
      <option value="04h:30">04h:30</option>
      <option value="05h:00">05h:00</option>
      <option value="05h:30">05h:30</option>
      <option value="07h:00">07h:00</option>
      <option value="07h:30">07h:30</option>
      <option value="08h:00">08h:00</option>
      <option value="08h:30">08h:30</option>
      <option value="09h:00">09h:00</option>
      <option value="09h:30">09h:30</option>
      <option value="10h:00">10h:00</option>
      <option value="10h:30">10h:30</option>
      <option value="11h:00">11h:00</option>
      <option value="11h:30">11h:30</option>
      <option value="12h:00">12h:00</option>
      <option value="12h:30">12h:30</option>
      <option value="13h:00">13h:00</option>
      <option value="13h:30">13h:30</option>
      <option value="14h:00">14h:00</option>
      <option value="14h30">14h30</option>
      <option value="15h:00">15h:00</option>
      <option value="15h:30">15h:30</option>
      <option value="16h:00">16h:00</option>
      <option value="16h:30">16h:30</option>
      <option value="17h:00">17h:00</option>
      <option value="17h:30">17h:30</option>
      <option value="18h:00">18h:00</option>
      <option value="19h:30">19h:30</option>
      <option value="20h:00">20h:00</option>
      <option value="20h:30">20h:30</option>
      <option value="21h:00">21h:00</option>
      <option value="21h:30">21h:30</option>
      <option value="22h:00">22h:00</option>
      <option value="22h:30">22h:30</option>
      <option value="23h:00">23h:00</option>
      <option value="23h:30">23h:30</option></select>
      <label style="margin-left:44px;"> à</label>
      <span style="margin-left:59px;"> </sapn>
        <select name="arrive" id="arrive" class="bu1 btn-light" style="margin-left:18px"><option value="00h:00">00h:00</option>
        <option value="00h:30">00h:30</option>
        <option value="01h:00">01h:00</option>
        <option value="01h:30">01h:30</option>
        <option value="02h:00">02h:00</option>
        <option value="02h:30">02h:30</option>
        <option value="03h:00">03h:00</option>
        <option value="03h:30">03h:30</option>
        <option value="04h:00">04h:00</option>
        <option value="04h:30">04h:30</option>
        <option value="05h:00">05h:00</option>
        <option value="05h:30">05h:30</option>
        <option value="07h:00">07h:00</option>
        <option value="07h:30">07h:30</option>
        <option value="08h:00">08h:00</option>
        <option value="08h:30">08h:30</option>
        <option value="09h:00">09h:00</option>
        <option value="09h:30">09h:30</option>
        <option value="10h:00">10h:00</option>
        <option value="10h:30">10h:30</option>
        <option value="11h:00">11h:00</option>
        <option value="11h:30">11h:30</option>
        <option value="12h:00">12h:00</option>
        <option value="12h:30">12h:30</option>
        <option value="13h:00">13h:00</option>
        <option value="13h:30">13h:30</option>
        <option value="14h:00">14h:00</option>
        <option value="14h:30">14h:30</option>
        <option value="15h:00">15h:00</option>
        <option value="15h:30">15h:30</option>
        <option value="16h:00">16h:00</option>
        <option value="16h:30">16h:30</option>
        <option value="17h:00">17h:00</option>
        <option value="17:30">17:30</option>
        <option value="18h:00">18h:00</option>
        <option value="19h:30">19h:30</option>
        <option value="20h:00">20h:00</option>
        <option value="20h:30">20h:30</option>
        <option value="21h:00">21h:00</option>
        <option value="21h:30">21h:30</option>
        <option value="22h:00">22h:00</option>
        <option value="22h:30">22h:30</option>
        <option value="23h:00">23h:00</option>
        <option value="23h:30">23h:30</option></select>
        </sapn>
        <h6> Départ <br> De </h6>
        <select name="depart" id="depart" class="bu1 btn-light"><option value="00h:00">00h:00</option>
        <option value="00h:30">00h:30</option>
        <option value="01h:00">01h:00</option>
        <option value="01h:30">01h:30</option>
        <option value="02h:00">02h:00</option>
        <option value="02h:30">02h:30</option>
        <option value="03h:00">03h:00</option>
        <option value="03h:30">03h:30</option>
        <option value="04h:00">04h:00</option>
        <option value="04h:30">04h:30</option>
        <option value="05h:00">05h:00</option>
        <option value="05h:30">05h:30</option>
        <option value="07h:00">07h:00</option>
        <option value="07h:30">07h:30</option>
        <option value="08h:00">08h:00</option>
        <option value="08h:30">08h:30</option>
        <option value="09h:00">09h:00</option>
        <option value="09h:30">09h:30</option>
        <option value="10h:00">10h:00</option>
        <option value="10h:30">10h:30</option>
        <option value="11h:00">11h:00</option>
        <option value="11h:30">11h:30</option>
        <option value="12h:00">12h:00</option>
        <option value="12h:30">12h:30</option>
        <option value="13h:00">13h:00</option>
        <option value="13h:30">13h:30</option>
        <option value="14h:00">14h:00</option>
        <option value="14h:30">14h:30</option>
        <option value="15h:00">15h:00</option>
        <option value="15h:30">15h:30</option>
        <option value="16h:00">16h:00</option>
        <option value="16h:30">16h:30</option>
        <option value="17h:00">17h:00</option>
        <option value="17:30">17:30</option>
        <option value="18h:00">18h:00</option>
        <option value="19h:30">19h:30</option>
        <option value="20h:00">20h:00</option>
        <option value="20h:30">20h:30</option>
        <option value="21h:00">21h:00</option>
        <option value="21h:30">21h:30</option>
        <option value="22h:00">22h:00</option>
        <option value="22h:30">22h:30</option>
        <option value="23h:00">23h:00</option>
        <option value="23h:30">23h:30</option></select>
        <label style="margin-left:44px;"> à</label>
        <span style="margin-left:59px;">
          <select name="depart" id="depart" class="bu1 btn-light" style="margin-left:18px"><option value="00h:00">00h:00</option>
          <option value="00h:30">00h:30</option>
          <option value="01h:00">01h:00</option>
          <option value="01h:30">01h:30</option>
          <option value="02h:00">02h:00</option>
          <option value="02h:30">02h:30</option>
          <option value="03h:00">03h:00</option>
          <option value="03h:30">03h:30</option>
          <option value="04h:00">04h:00</option>
          <option value="04:30">04:30</option>
          <option value="05h:00">05h:00</option>
          <option value="05h:30">05h:30</option>
          <option value="07h:00">07h:00</option>
          <option value="07h:30">07h:30</option>
          <option value="08h:00">08h:00</option>
          <option value="08h:30">08h:30</option>
          <option value="09h:00">09h:00</option>
          <option value="09h:30">09h:30</option>
          <option value="10h:00">10h:00</option>
          <option value="10h:30">10h:30</option>
          <option value="11h:00">11h:00</option>
          <option value="11h:30">11h:30</option>
          <option value="12h:00">12h:00</option>
          <option value="12h:30">12h:30</option>
          <option value="13h:00">13h:00</option>
          <option value="13h:30">13h:30</option>
          <option value="14h:00">14h:00</option>
          <option value="14:30">14:30</option>
          <option value="15h:00">15h:00</option>
          <option value="15h:30">15h:30</option>
          <option value="16h:00">16h:00</option>
          <option value="16h:30">16h:30</option>
          <option value="17h:00">17h:00</option>
          <option value="17:30">17:30</option>
          <option value="18h:00">18h:00</option>
          <option value="19h:30">19h:30</option>
          <option value="20h:00">20h:00</option>
          <option value="20h:30">20h:30</option>
          <option value="21h:00">21h:00</option>
          <option value="21h:30">21h:30</option>
          <option value="22h:00">22h:00</option>
          <option value="22h:30">22h:30</option>
          <option value="23h:00">23h:00</option>
          <option value="23h:30">23h:30</option></select>
          </sapn>
        </div>
      </main>
      <!-- Septe Partie------------------------------------------------->
      <main>
        <div class="container" style="height: 800px; background-color: white!important;border: none!important;">
          <div class="inserer">
            <h2> photo</h2>
            <%= label_tag 'photos', id: "files-inputs" do %>
            <div class="parent-div">
              <label id="12"for="up-1" class="label-file"  ><small>Choisir une image</small></label>
              <input id="up-1" class="photo-js" type="file" name="photos[]" >
            </div>
            <div class="parent-div">
              <label id="13" for="up-2" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-2" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div class="parent-div">
              <label id="14"for="up-3" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-3" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div class="parent-div">
              <label id="15" for="up-4" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-4" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div class="parent-div">
              <label id="16" for="up-5" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-5" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div  class="parent-div">
              <label id="17" for="up-6" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-6" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div  class="parent-div">
              <label id="18" for="up-7" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-7" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            <div  class="parent-div">
              <label id="19" for="up-8" class="label-file" style="display:none"><small>Choisir une image</small></label>
              <input id="up-8" class="photo-js" type="file" name="photos[]" style="display:none" >
            </div>
            
            
            
            
            
            
            
            <% end %>
            
          </div>
          <div class="sary" style="position: relative;top:50px">
            <img id="addImage-up-1" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-2" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-3" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-4" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-5" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-6" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-7" alt="mandona" style="display: none; width: 100px;"></img>
            <img id="addImage-up-8" alt="mandona" style="display: none; width: 100px;"></img>
          </div>
        </div>
      </main>
      <main>
        <h5 style="position:relative;top:30px;left: 80px;">Condition d'annulation </h5>
        <div class="container" style="width:688px; weight:255px;position:relative;top:70px;">
          <span style="position:relative;top:30px;">
            <h6 style="margin-bottom:44px;">Combien de jours avant leur arrivée les clients peuvent-ils annuler leur réservation gratuitement ? </h6>
            <!--   <span>
              <label class="bt" for="option1"> 1 jours</label>
              
              <label class="bt" forContinuerContinuer="option2">7 jours</label>
              <label class="bt" for="option3">14 jours</label>
              
              <label class="bt" for="option4">30 jours</label>
            </span> -->
            
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label  class="btn  active" for="option1" >1 jour
                <input type="radio" name="condition[]" id="option1" value="1 jours">
              </label>
              <label  class="btn active" for="option2" >7 jours
                <input type="radio" name="condition[]" id="option2" value="7 jours">
              </label>
              <label  class="btn active" for="option3" >14 jours
                <input type="radio" name="condition[]" id="option3" value="14jours">
              </label>
              <label  class="btn active" for="option4" >30 jours
                <input type="radio" name="condition[]" id="option4" value="30 jours">
              </label>
            </div>
          </span>
          <!--
          <span class="none">
            <input type="radio" class="btn-check"  name="condition[]"
            value="1 jours" id="option1" autocomplete="off"/>
            <input type="radio" class="btn-check" style ="visibility:none;"name="condition[]"
            id="option2" autocomplete="off" value="7 jours" />
            <input type="radio" class="btn-check" name="condition[]"
            id="option3" autocomplete="off"  value="14 jours" />
            <input type="radio" class="btn-check" name="condition[]"
            value="30 jours"  id="option4" autocomplete="off" />
            <span> -->
              
            </div>
          </main>
          <!-- Huitiéme Partie------------------------------------------------->
          <main>
            <div class="container" style="width:800px; height:440px">
              <h4> calendrier </h4><br>
              <label style="color:#696565;">Cliquez sur chaque date individuellement. Toutes les dates visibles sont disponibles à la réservation. Ne vous inquitez pas, vous pourrez toujours ajouter ou supprimer des dates plus tard.</label>
              <br>
              <br>
              <div class="bx--form-item">
                <input type="text" id="start_date" class="datepicker" placeholder=" date de début " name="start_date[]">
                <input type="text" id="end_date" class="datepicker  " placeholder="date de fin" name="end_date[]">
                <div>
                </div>
              </main>
              <!-- Neuviéme Partie------------------------------------------------->
              <main>
                <h5 style="position:relative;top:30px;left: 80px;"> Information sur l'hébergement</h5>
                <div class="container" style="height:564px; top:66px;">
                  
                  <h6 style="margin-bottom:24px;position:relative;top:9px;"> Vérifier les informations sur votre hébergement</h6>
                  <h6 style="font-size:15px;color:#696565;">Si vous souhaitez modifier les informations mieux,vaut le faire maitenant. <br> En effet il est plus difficile de les mettres à jour par la suite </h6>
                  
                  <hr>
                  <h6 > Adresse de l'hébergement</h6><br>
                  <!-- Button trigger modal -->
                  <a  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter">
                    Modifier
                  </a>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <span style="font-size:12px; color:#2E2725;">Ville</span>
                          
                          <input type="text" name="ville[]" class="form-control" id="ville2" placeholder="entrez une ville" value=""><br>
                          
                          
                          <span style="font-size:12px; color:#2E2725;">Trouvez votre adresse (ligne 1)</span>
                          
                          <input type="text" name="adresse1" class='form-control'id="adresse4"  placeholder="entrez votre adresse" value="" v><br>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="getVal()" >Save change</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                  <section style="font-size:15px; color:#696565;" >
                    <label id="az"></label>
                  </section><br>
                  
                  
                  <hr>
                  <h6> Emplacement sur la carte</h6><br>
                  <a href="#" role="button" style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>
                  <hr>
                  
                  <h6> Nom de l'hébergement</h6><br>
                  
                  <a  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenterA">
                    Modifier
                  </a>
                  <!-- Modal -->
                  <div class="modal fade" id="exampleModalCenterA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <span style="font-size:12px; color:#2E2725;">Ville</span>
                          
                          <input type="text" name="name" class="form-control" id="ville2" placeholder="entrez une ville" id="nomm" value=""><br>
                          
                          
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="getVa()" >Save change</button>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <section style="font-size:15px; color:#696565;">
                    <label id="aza"></label>
                  </section>
                </div>
                <!-- Di------------------------------------------------->
              </main>
              <main>
                <span style="position: relative;left:80px;top:30px;font-size:20px;"> Quelques informations importante avant d'inscrire votre hébergement:</span>
                <div class="container" style="width:555px;height:280px;position: relative;top:80px;">
                  <h5 style="font-size:17px;" > Les réservations sont elle confirmées immediatement?</h5>
                  <h6  style="color:#696565;font-size:14px;">Oui, des qu'un client éffectue une réservation,celle ci confirmées immédiatement </h6><br>
                  <h5 style="font-size:17px;"> Puis je choisir qui séjourne dans mon hébergement?</h5>
                  <h6 style="color:#696565;font-size:14px;" >Non tout nos utilisateurs peuvent réservé  une date </h6><br>
                  
                  <h5 style="font-size:17px;"> Puis je choisir les jours pour lesqueles je recois les réservations ?</h5>
                  <h6 style="color:#696565;font-size:14px;" >Oui, il vous suffit de vous assurer  de votre calendrier est a jour.Fermez tout les dates pour lesquelles
                  vous ne souhaiter pas recevoir de réservation. Si vous recu des réservations via d'autre site, veuillez également férmez les dates en question
                  </h6><br>
                </div>
                <!-- Di------------------------------------------------->
              </main>
              <main>
                <div class="container" style="width:577px;margin-top:44px;margin-left:369px;height:433px;top:66px;">
                  <h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Et voila! Vous avez fait tout le nécessaire ain de pouvoir acceillir vos Premieres clients</h5>
                  <h6 > Une fois votre inscription terminer, vous pourrez:</h6>
                  <ul style="color:#696565;margin-left:22px;"  >
                    <li>Gérer votre hébergement à partir de votre de bord</li><br>
                    <li>Recevoir des réservations des clients qui se rendent sur notre site et gagner de l'argent</li><br>
                    <li>Garder le contrôle des réservations de tous les sites sur lesquelles vous êtes inscrit(e) en synchronisant votre calendrier </li>
                    
                  </ul>
                  
                  
                  <input type="checkbox">
                  <label > J’atteste qu’il s’agit d’une activité d’hébergement légale disposant de  </label><br>
                  <label>toutes les autorisations nécessaires pouvant être présentées sur demande Runbnb.com</label></br>
                  <input type="checkbox" >
                  <label> J’ai lu et j’accepte les Conditions Générales de Runbnb.com</label><br>
               <%=submit_tag 'Ouvrir mon hébergement à la réservation', class:"button3",style:"position:absolute; top:450px;right:3px;"%>
                  
                </div>
              </main>
              <span class="b">
                <span name ="prev" class="button">Precédent</span>
                <span name= "next" class="button">Continuer</span>
              </span>
               <%end%>
            </section>
            
          </body>
          <script type="text/javascript">noPressEnter(document.body);</script>
          <script>
          var main = document.getElementsByTagName('main');
          var button = document.getElementsByClassName('button');
          var p = document.getElementsByTagName('p');
          var section = document.getElementsByTagName('section')[0];
          section.onsubmit =()=>{return false}
          var current_main = 0;
          main[current_main].style.display = "block";
          if (current_main == 0)
          {
          button[0].style.display = "none";
          p[0].style.backgroundColor = "royalblue";
          }
          button[1].onclick = ()=>{
          current_main++;
          var back_main = current_main - 1;
          if ((current_main > 0) && (current_main < 12))
          {
          button[0].style.display = "block";
          main[current_main].style.display = "block";
          main[back_main].style.display = "none";
          p[current_main].style.backgroundColor = "royalblue";
          p[back_main].style.backgroundColor = "#ededed";
          button[1].style.cssText ="float:right; margin-right:88px;"
          
          if (current_main == 11)
          {
          button[1].innerHTML = "Ouvrir mon hébergement à la réservation ";
          button[1].style.cssText = "width:300px;left:412px;"
          button[0].style.display ="none";
          }
          }
          else
          {
          if (current_main > 11)
          {
          <label class="bt button1" for="option4">30 jours</label>
        </span>
        
        <span class="none">
          <input type="radio" class="btn-check"  name="condition[]"
          value="1 jours" id="option1" autocomplete="off"/>
          <input type="radio" class="btn-check" style ="visibility:none;"name="condition[]"
          id="option2" autocomplete="off" value="7 jours" />
          <input type="radio" class="btn-check" name="condition[]"
          id="option3" autocomplete="off"  value="14 jours" />
          <input type="radio" class="btn-check" name="condition[]"
          value="30 jours"  id="option4" autocomplete="off" />
        </span>
        </script>
        <!-- Huitiéme Partie------------------------------------------------->
        <main>
          <div class="container1">
            <h4> calendrier </h4><br>
            <span type="text" id="start_date" class="datepicker" placeholder="start date" name="start_date[]">
              <span type="text" id="end_date" class="datepicker" placeholder="end date" name="end_date[]">
              </div>
            </main>
            <!-- Neuviéme Partie------------------------------------------------->
            <main>
              <div class="container" style="height:564px; top:66px;">
                
                <h5 style="margin-bottom:24px;position:relative;top:-49px;"> Information sur l'hébergement</h5>
                <h6 style="margin-bottom:24px;position:relative;top:9px;"> Vérifier les informations sur votre hébergement</h6>
                <h6 style="font-size:15px;color:#696565;">Si vous souhaitez modifier les informations mieux,vaut le faire maitenant. <br> En effet il est plus difficile de les mettres à jour par la suite </h6>
                
                <hr>
                <h6 > Adresse de l'hébergement</h6><br>
                <a  href="#"  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>
              <section style="font-size:15px; color:#696565; "> 2 rue de Kenval, 97434, Saint Gilles les Bains </section><br>
              <hr>
              <h6> Emplacement sur la carte</h6><br>
              <a href="#" role="button" style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>
              <hr>
              <h6> Nom de l'hébergement</h6><br>
              
            <section style="font-size:15px; color:#696565; "> La Villa Nath - Saint Gilles les Bains</section>
            <a  href="#"  style="color: rgb(0, 162, 255);position: relative;top:-60px;left:333px" >Modifier</a>
          </div>
          <!-- Di------------------------------------------------->
        </main>
        <main>
          <div class="container" style="width:555px;height:380px;">
            <h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Quelques informations importante avant d'inscrire votre hébergement:</h5>
            <h5 style="font-size:17px;" > Les réservations sont elle confirmées immediatement?</h5>
            <h6  style="color:#696565;">Oui, des qu'un client éffectue une réservation,celle ci est confirmées immédiatement </h6><br>
            <h5 style="font-size:17px;"> Puis je choisir qui séjourne dans mon hébergement?</h5>
            <h6 style="color:#696565;" >Non tout nos utilisateurs peuvent réservé  une date </h6><br>
            
            <h5 style="font-size:17px;"> Puis je choisir les jours pour lesqueles je recois les réservations ?</h5>
            <h6 style="color:#696565;" >Oui, il vous suffit de vous assurer  de votre calendrier est a jour.Fermez tout les dates pour lesquelles
            vous ne souhaiter pas recevoir de réservation. Si vous recu des réservations via d'autre site, veuillez également férmez les dates en question
            </h6><br>
          </div>
          <!-- Di------------------------------------------------->
        </main>
        <main>
          <div class="container" style="width:577px;margin-top:44px;margin-left:369px;height:433px;top:66px;">
            <h5 style="margin-bottom:24px;position:relative;top:-60px; font-size:17px;"> Et voila! Vous avez fait tout le nécessaire ain de pouvoir acceillir vos Premieres clients</h5>
            <h6 > Une fois votre inscription terminer, vous pourrez:</h6>
            <ul style="color:#696565;margin-left:22px;"  >
              <li>Gérer votre hébergement à partir de votre de bord</li><br>
              <li>Recevoir des réservations des clients qui se rendent sur notre site et gagner de l'argent</li><br>
              <li>Garder le contrôle des réservations de tous les sites sur lesquelles vous êtes inscrit(e) en synchronisant votre calendrier </li>
              
            </ul>
            
            
            <input type="checkbox">
            <label > J’atteste qu’il s’agit d’une activité d’hébergement légale disposant de  </label><br>
            <label>toutes les autorisations nécessaires pouvant être présentées sur demande Runbnb.com</label></br>
            <input type="checkbox" >
            <label> J’ai lu et j’accepte les Conditions Générales de Runbnb.com</label><br>
            
          </div>
        </main>
      </section>
      
    </body>
    <script>
    var main = document.getElementsByTagName('main');
    var button = document.getElementsByClassName('button');
    var p = document.getElementsByTagName('p');
    var section = document.getElementsByTagName('section')[0];
    section.onsubmit =()=>{return false}
    var current_main = 0;
    main[current_main].style.display = "block";
    if (current_main == 0)
    {
    button[0].style.display = "none";
    p[0].style.backgroundColor = "royalblue";
    
    }
    
    button[1].onclick = ()=>{
    current_main++;
    var back_main = current_main - 1;
    if ((current_main > 0) && (current_main < 12))
    {
    button[0].style.display = "block";
    main[current_main].style.display = "block";
    main[back_main].style.display = "none";
    p[current_main].style.backgroundColor = "royalblue";
    p[back_main].style.backgroundColor = "green";
    button[1].style.cssText ="float:right; margin-right:88px;"
    
    if (current_main == 11)
    {
    button[1].innerHTML = "Ouvrir mon hébergement à la réservation ";
    button[1].style.cssText = "width:300px;left:412px;"
    button[0].style.display ="none";
    button[1].style.display ="none";
    
    }
    }
    else
    {
    if (current_main > 11)
    {
    section.onsubmit =()=>{return true}
    
    }
    }
    }
    button[0].onclick = ()=>{
    {
    current_main--;
    var back_main =current_main +1;
    
    
    main[current_main].style.display= "block";
    main[back_main].style.display = "none";
    p[current_main].style.backgroundColor ="royalblue";
    p[back_main].style.backgroundColor = "#ededed" ;
    if (current_main < 12)
    {
    button[1].innerHTML = "Next";
    
    
    
    }
    
    
    
    
    }
    if (current_main == 0) {
    button[0].style.display = "none";
    }
    }
    </script>
    </script>
    <script type="text/javascript">
    function chambre() {
    const parent = document.getElementById('options')
    const checkboxes = parent.querySelectorAll(`input[class="checkbox options_list"]:checked`);
    let values = [];
    checkboxes.forEach((checkbox) => {
    var target = ".block_" + checkbox.getAttribute('data-type');
    document.querySelector(target).innerHTML =  null;
    });
    checkboxes.forEach((checkbox) => {
    var target = ".block_" + checkbox.getAttribute('data-type');
    //console.log(checkbox.getAttribute('data-type'));
    var val = checkbox.getAttribute('data-value');
    document.querySelector(target).innerHTML +=  val + "&nbsp, &nbsp"
    });
    return values;
    }
    $(document).on('click', '.savebutton', function() {
    chambre()
    })
    //const btn = document.querySelector('.savebutton');
    // btn.addEventListener('click', (event) => {
    //document.querySelector('.za').innerHTML = chambre('values')
    //});
    </script>
    <script >
    var cache = document.getElementById("caché")
    var clicke1 = document.getElementById("clicke1")
    var clicke = document.getElementById("clicke")
    clicke1.onclick = function () {
    cache.style.display= "block";
    clicke.style.display="none"
    }
    $(".datepicker").load("contenu.html"); // un élément portant l'id "content" existe dans contenu.html
    $(function($){
    var datepicker = $( ".datepicker").datepicker({
    minDate: 0,
    onSelect: function(date){
    var option = this.id = 'start_date'? 'minDate' : 'maxDate';
    datepicker.not('#'+this.id).datepicker('option',option,date);
    }
    })
    });
    </script>
    <script type="text/javascript">
    var p1 = document.getElementById("up-1");
    var p2 = document.getElementById("up-2");
    var p3 = document.getElementById("up-3");
    var p4 = document.getElementById("up-4");
    var p5 = document.getElementById("up-5");
    var p6 = document.getElementById("up-6");
    var p7 = document.getElementById("up-7");
    var p8 = document.getElementById("up-8");
    var p12 = document.getElementById('12');
    var p13 = document.getElementById('13');
    var p14 = document.getElementById('14');
    var p15 = document.getElementById('15');
    var p16 = document.getElementById('16');
    var p17 = document.getElementById('17');
    var p18 = document.getElementById('18');
    var p19 = document.getElementById('19');
    p1.onclick = function (){
    p2.style.display="block";
    p13.style.display="block";
    p1.style.display="none";
    p12.style.display="none";
    }
    p2.onclick = function (){
    p3.style.display="block";
    p14.style.display="block";
    p2.style.display="none";
    p13.style.display="none";
    }
    p3.onclick = function (){
    p4.style.display="block";
    p3.style.display="none";
    p14.style.display="none";
    p15.style.display="block";
    }
    p4.onclick = function (){
    p5.style.display="block";
    p4.style.display="none";
    p15.style.display="none";
    p16.style.display="block";
    }
    p5.onclick = function (){
    p6.style.display="block";
    p5.style.display="none";
    p16.style.display="none";
    p17.style.display="block";
    }
    p6.onclick = function (){
    p7.style.display="block";
    p6.style.display="none";
    p17.style.display="none";
    p18.style.display="block";
    }
    p7.onclick = function (){
    p8.style.display="block";
    p7.style.display="none";
    p18.style.display="none";
    p19.style.display="block";
    }
    p8.onclick = function (){
    p8.style.display="none";
    p19.style.display="none";
    
    }
    </script>
    <script >
    function shwoMyImage(input) {
    if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function(e) {
    $('#addImage-'+input.id).attr('src', e.target.result);
    $('#addImage-'+input.id).show();
    }
    reader.readAsDataURL(input.files[0]);
    }
    }
    $(".photo-js").change(function() {
    shwoMyImage(this);
    });
    </script>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm9sbGFuZGphc21pZSIsImEiOiJja2V2OXUyazYxbjJhMnduMGZ2NmU3YmRrIn0.qwoke-4A7fwXdW3JXu4cIw';
    var coordinates = document.getElementById('coordinates');
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [55.5418558827792, -21.11980347123354],
    zoom: 9
    });
    var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    });
    
    var marker = new mapboxgl.Marker({
    draggable: true
    })
    .setLngLat([55.5418558827792, -21.11980347123354])
    .addTo(map);
    
    function onDragEnd() {
    var lngLat = marker.getLngLat();
    coordinates.style.display = 'block';
    coordinates.innerHTML =
    'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
    }
    
    marker.on('dragend', onDragEnd);
    </script>
    <script >
    function getValue() {
    // Sélectionner l'élément input et récupérer sa valeur
    var h1 = document.createElement('label');
    var input = document.getElementById("ville").value;
    var input1 = document.getElementById("ville1").value;
    // Afficher la valeur
    h1.innerText = input + "-"+ input1;
    document.getElementById("az").appendChild(h1)
    }
    </script>
    <script type="text/javascript">
    function refuserToucheEntree(event)
    {
    // Compatibilité IE / Firefox
    if(!event && window.event) {
    event = window.event;
    }
    // IE
    if(event.keyCode == 13) {
    event.returnValue = false;
    event.cancelBubble = true;
    }
    // DOM
    if(event.which == 13) {
    event.preventDefault();
    event.stopPropagation();
    }
    }
    </script>
    </script>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoicm9sbGFuZGphc21pZSIsImEiOiJja2V2OXUyazYxbjJhMnduMGZ2NmU3YmRrIn0.qwoke-4A7fwXdW3JXu4cIw';
    var coordinates = document.getElementById('coordinates');
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [55.5418558827792, -21.11980347123354],
    zoom: 9
    });
    var geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
    });
    
    var marker = new mapboxgl.Marker({
    draggable: true
    })
    .setLngLat([55.5418558827792, -21.11980347123354])
    .addTo(map);
    
    function onDragEnd() {
    var lngLat = marker.getLngLat();
    coordinates.style.display = 'block';
    coordinates.innerHTML =
    'Longitude: ' + lngLat.lng + '<br />Latitude: ' + lngLat.lat;
    }
    
    marker.on('dragend', onDragEnd);
    </script>
    
    <script type="text/javascript">
    $(".decrement-js").click(function(){
    input = $($(this)).parent().find("input")[0]
    $(input).val(parseInt($(input).val())-1)
    })
    $(".incremente-js").click(function(){
    input = $($(this)).parent().find("input")[0]
    $(input).val(
    parseInt($(input).val())+1
    )
    })
    //
    </script>
    <script >
function getValue() {
    // Sélectionner l'élément input et récupérer sa valeur
    var h1 = document.getElementById('az');
    var ville1 = document.getElementById("ville1").value;
    var adresse1 = document.getElementById("adresse1").value;
    var adresse2 = document.getElementById("adresse4")
    var ville2 = document.getElementById("ville2")

    var d3 = document.getElementById("aza")
    var nom1 = document.getElementById("nom1").value

    // Afficher la valeur
    h1.textContent = ville1 + "-"+ adresse1;
    d3.textContent = nom1 

      ville2.value = ville1
      adresse2.value = adresse1
}
function getVal (){
  var adresse6 = document.getElementById("adresse4").value
  var ville6 = document.getElementById("ville2").value
  var h3 = document.getElementById('az');
   h3.textContent = ville6 + "-"+ adresse6;


}
function getVa () {
  ss = document.getElementById("nomm").value
  var d33 = document.getElementById("aza")
  d33.textContent = ss



}

</script>

