<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<title> - jsFiddle demo</title>
		
		<script type='text/javascript' src='//code.jquery.com/jquery-1.9.1.js'></script>
		
		
		
		<style type='text/css'>
		</style>
		
		
		
		<script type='text/javascript'>//<![CDATA[
		$(window).load(function(){
		function readURL(input) {
		if (input.files && input.files[1]) {
		var reader = new FileReader();
		
		reader.onload = function (e) {
		$('#blah').attr('src', e.target.result);
		}
		
		reader.readAsDataURL(input.files[1]);
		}
		}
		
		$("#imgInp").change(function(){
		readURL(this);
		});
		});//]]>
		
		</script>
	</head>
	<body>
		
		
		<link rel="stylesheet" type="text/css" href="/css/logements.css">
		<div class="conte">
			<%= form_tag url_for(action:'create'),multipart: true, methode: "post",runat:"server" do%>
			<div class="contenu" style="position: relative;top: 50px;" >
				<section class="étape0">
					<h1 class="titre">  Inscrivez votre hébergement sur RunBnB et commencez à recevoir des clients en un rien de temps !</h1>
					<div class="content">
						<div class="nom">
								
							<input type="file" name="photos" id="imgInp" multiple="">
							<img id="blah" src="#" alt="kjjhkjh" />
							<p>Quel est le nom de votre hébergement?</p>
							<div class="form-group">
								
								<input type="text"  class="form-control" name="name" placeholder="nom de l'hébergement">
								
							</div>
						</div>
						<div class="catégorie">
							<p>Choisissez le type d’hébergement que vous souhaitez inscrire sur RunBnB :</p>
							
							<%= select_tag 'categorie', options_for_select(["Appartement","Maison/Vila","Bangalow/Châlet","Hotel","chambre d'hote/Gite"]), class:'custom-select custom-select-sm' , style:"width: 300px"%>
							
							
						</div>
						<div class="type" style="position: relative;top: 20px;">
							<p>Que peuvent réserver les clients ?</p>
							<%= select_tag 'types', options_for_select(["Chambre privée","Hébergement entier"]),class:'custom-select custom-select-sm',style:"width: 300px"%>
							
						</div>
					</div>
					
					
					<!--  <button class="boutton" type="button">suivant</button> -->
					<a href="#" class="myButton" style="position: relative; top: 50px">Suivant</a>
					
					
				</section>
				<section class="étape1">
					<div class="adresse">
						<h1 class="titre">ou se situe l'hébergement que vous inscrivez?</h1>
						<div class="card bg-light" style="position: relative;top: 50px; width: 500px;">
							<div class="card-body">
								<p>Pays/région</p>
								<div class="form-group">
									<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="Pays/région">
									
								</div>
								<p>Ville</p>
								<div class="form-group">
									<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez une ville">
									
								</div>
								<p>Trouvez votre adresse (ligne 1)</p>
								<div class="form-group">
									<%= text_area_tag :adresse, "" ,class:'form-control'%>
									
								</div>
								<p>Code postal</p>
								<div class="form-group">
									<input type="name" class="form-control" id="exampleFormControlInput1" placeholder="entrez votre Code postal">
									
								</div>
								<p>Trouvez votre adresse (ligne 2)</p>
								<a href="">Ajouter</a>
							</div>
						</div>
					</div>
				</section>
				<section class="étape2" style="position: relative;top: 200px;">
					<div class="card bg-light" style="position: relative;top: 50px; width: 500px;">
						
						<div class="card-body">
						
							<p>Où les clients peuvent-ils dormir ?</p>
							
							<%Chambre.all.each do |c|%><br>
							
							<div class="row">
								<div class="col-6">
									<%= c.title%>
									<p class="za"></p>
								</div>
								<!-- 	modal -->
								<!-- Button trigger modal -->
								<div class="col-6">
									<!-- <a href="#" class="bout1 " data-toggle="modal" data-target="#staticBackdrop" style="" >
									Ajoutez</a> -->
									<button type="button" class="myButton" data-toggle="modal" data-target="#staticBackdrop">ajoutez</button>
									
								</div>
							
								</div>
								<!-- Modal -->
								<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered">
										<div class="modal-content">
											
											<div class="modal-body">
												<%c.lit.each do |l| %>
												<input type="checkbox" name="chambre_ids[]" value="<%=l.title%>" >
												<%= l.title%><br>
												<%end%>
											</div>
											<div class="modal-footer">
												<button type="button" class="myButton" data-dismiss="modal">Close</button>
												<button type="button" class="myButton" id="btn" data-dismiss="modal">Save</button>
												
											</div>
											
										</div>
									</div>
								</div>
								<%end%>
							</div>
						</div>
						
					</section>
					<section class="etape3" style="position: relative;top: 350px;">
						<div class="card bg-light" style="width: 500px;">
							<div class="card-body">
								<p>EQUIPEMENT</p>
								<%Equipement.all.each do |e|%>
								<input type="checkbox" name="equipement_ids[]" value="<%=e.id%>">ht
								<%= e.title%><br>
								
								<hr size="1" class="bg-light">
								<%end%>
							</div>
						</div>
						<div class="regle" style="position: relative;top: 100px">
							<h2>Règle de maison</h2><br>
							<%Regle.all.each do |d|%><br>
							<input type="checkbox" name="regle_ids[]" value="<%=d.id%>">
							<%= d.title%><br>
							<%end%><br>
							<p>arriveé</p>
							<input type="text" name="arrive[]">
							<input type="text" name="arrive[]">
							<p>départ</p>
							<input type="text" name="depart[]">
							<input type="text" name="depart[]">
						
					</div>
					</section>
					<section class="etape4" style="position: relative; top: 500px">	
					<div>
						<h3>Condition d'annulation </h3>
						<div class="btn-group">
							<input type="radio" class="btn-check"  name="condition[]"
							value="1 jours" id="option1" autocomplete="off"/>
							<label class="btn btn-secondary" for="option1"> 1 jours</label>
							<input type="radio" class="btn-check" name="condition[]"
							id="option2" autocomplete="off" value="7 jours" />
							<label class="btn btn-secondary" for="option2">7 jours</label>
							<input type="radio" class="btn-check" name="condition[]"
							id="option3" autocomplete="off"  value="14 jours" />
							<label class="btn btn-secondary" for="option3">14 jours</label>
							<input type="radio" class="btn-check" name="condition[]"
							value="30 jours"  id="option4" autocomplete="off" />
							<label class="btn btn-secondary" for="option4">30 jours</label>
						</div>
					</div>

					<div class="bout1" style="position: relative;
						top: 100px;">
						<%= submit_tag 'creer'%>
					</div>
					
				</section>
			</div>
			<%end%>
		</div>
		<script type="text/javascript">
	
		function getSelectedCheckboxValues(name) {
		const checkboxes = document.querySelectorAll(`input[name="chambre_ids[]"]:checked`);
		let values = [];
		checkboxes.forEach((checkbox) => {
		values.push(checkbox.value);
		});
		return values;
		}
		const btn = document.querySelector('#btn');
		btn.addEventListener('click', (event) => {
			document.querySelector('.za').innerHTML = getSelectedCheckboxValues('values')
		alert(getSelectedCheckboxValues('values'));
		});
		
			function chercher(){
		var ville = $("#ville").val();
		if(ville != ""){
		$.ajax({
		url: "https://nominatim.openstreetmap.org/search", // URL de Nominatim
		type: 'get', // Requête de type GET
		data: "q="+ville+"&format=json&addressdetails=1&limit=1&polygon_svg=1" // Données envoyées (q -> adresse complète, format -> format attendu pour la réponse, limit -> nombre de réponses attendu, polygon_svg -> fournit les données de polygone de la réponse en svg)
		}).done(function (response) {
		if(response != ""){
		userlat = response[0]['lat'];
		userlon = response[0]['lon'];
		}
		}).fail(function (error) {
		alert(error);
		});
		}
		}
		
		</script>
	</body>