<%if @user.avatar.attached?%>
	<%= image_tag @user.avatar, alt: 'avatar' %>
<%end%>

<%= form_tag user_avatars_path(@user.id), multipart: true  do %>
	<%= file_field_tag :avatar %>
	<%= submit_tag "mettre à jour" %>
<% end %>


<h4 >
	<p>Bonjour je m'appelle,<%= @user.name %></p>	
</h4>
<p style="color: blue"> Prénom et Nom </p>
<%= @user.name %> <%= @user.first_name%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Sexe</p>
<%= @user.sexe%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Date de naissance</p>
<%= @user.date_of_birth%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Adresse e-mail</p>
<%= @user.email%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Numéro de téléphone</p>
<%= @user.mobile%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Adresse</p>
<%= @user.adresse%><a href="/users/edit" style="color: red">Modifier</a>

<p style="color: blue">Numéro d'urgence</p>
<%= @user.urgence%><a href="/users/edit" style="color: red">Modifier</a>





  

  