
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<style>
body{
  overflow-x: hidden;
}
.bu1{
                  width:200px;
                  height:27px;
                  float:right;
                  border-radius: 20px;
                  background-color:white;
                  text-align: center;
                  font-size:12px;
                  border: 1px #f4511e ;
                  color: #f4511e;
                  border-style: solid;
                  border-width: 2px;
                  transition: all 0.5s;
                  cursor: pointer;
                  margin-right:90px;
                  margin-top:24px;
                  outline:none;
                  outline: none !important;
                position: relative;top: 10px;
}

.bu1:hover{
                  background-color: #f4511e;
                  color: white;

                }
.bu2{
                  width:200px;
                  height:27px;
                  float:right;
                  border-radius: 20px;
                  background-color:#26AEDE;
                  text-align: center;
                  font-size:12px;
                  
                  color: white;
                  border-style: solid;
                  border-width: 2px;
                  transition: all 0.5s;
                  cursor: pointer;
                  margin-right:90px;
                  margin-top:24px;
                  outline:none;
                  outline: none !important;
                  box-shadow: none !important;
}

.bu3{
  width:120px;
  height:30px;
  position:absolute;
  top:35px;
  left:230px;
  border-radius: 6px;
  background-color: #f4511e;
  color: white;

  text-align: center;
  font-size:12px;
  border: 1px #f4511e ;
  
  border-style: solid;
  border-width: 2px;
  transition: all 0.5s;
  cursor: pointer;
  outline:none;
  outline: none !important;
  box-shadow: none !important;

}
.bu4{
                  width:200px;
                  height:30px;
                  float:right;
                  border-radius: 20px;
                  background-color:#26AEDE;
                  text-align: center;
                  font-size:12px;
                  text-decoration: none;
                  color: white;
                  border-style: solid;
                  border-width: 2px;
                  transition: all 0.5s;
                  cursor: pointer;
                  margin-right:90px;
                  margin-top:24px;
                  outline:none;
                  outline: none !important;
                  box-shadow: none !important;
                  position: relative;top: 10px;
}
.bu4:hover{text-decoration: none;
color: white;
font-weight: bold;
width:205px;
    height:30px;}
*:focus {
    outline: 0 !important;
}

</style>
<body>
      <header>

      <img src="/assets/logo.jpg" style="width:160px; height:60px;margin-left:33px;margin-top:12px">
      <button class="bu3">Acueille du groupe </button>
      <button class="bu1">Changer d'hébergement</button>
      <a href="<%=new_logement_path%>" class="bu4" style="padding-top: 4px">Ajouter un hébergement</a>

      <nav class="navbar navbar-dark bg-dark navbar-expand-sm" style="margin-top:12px;">
   <ul class="navbar-nav mr-auto" style="margin-left:-66px">
      <li class="nav-item " style="margin-left:100px">
      <a class="nav-link"  href="<%=logements_path%>">Tout les hébergements</a>

      </li>
      <li class="nav-item  ">
        <a class="nav-link" style="cursor: pointer;"  ;>Calendrier de tout les hébergements</a>
      </li>
      <li class="nav-item " >
      <a class="nav-link" style="cursor: pointer;">Toutes les reservations</a>

      </li>
      
      
    </ul>

    <style>
    .navbar-nav{
      border-bottom: 3px solid transparent;
    }
    .navbar-nav a{
      color: white!important;
      font-size: 14px;
    }

    .navbar-nav a:hover {
  border-bottom: 3px solid white;
}

.navbar-nav a.active {
  border-bottom: 3px solid white;
}

    </style>


    

      <div class="collapse navbar-collapse" id="navbar-list-4"  >
        <ul class="navbar-nav" style="padding-left: 180px;" >
            <li class="nav-item dropdown" style="margin-left:200px" >
           
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%if @user.avatar.attached?%>
          
            <%= image_tag @user.avatar, alt: 'avatar', class:"rounded-circle", style:"width:40px; height:40px" ,alt:"Person", width:"40", height:"40"%>
            <%else%>
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="chip" alt="avatar" style="width:40px; height:40px" alt="Person" width="96" height="96",>
            <%end%>

            Mon compte
          </a>
            
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%=link_to 'Déconnexion', destroy_user_session_path,class:"dropdown-item", method: :delete%>

            </div>
          </li>   
        </ul>
      </div>
    </nav>

    


      
      </header>
      





<main role="main" class="container">
  <div class="jumbotron ">

  


  <style>


   .na-item.dropdown{
     float:right;
   }


   .jumbotron{
     background-color:white;
     position:relative;
     top:75px;
    width:664px;
    height:720px;
    float:right;
    margin-top:78px;
    margin-right:89px
    
   }
  .btn{
    border-color:#f08340;
    width :101px;
  }
    .btn:hover{
      background:#f08340;
      transition: all .55s;
      color:#fff;
      width:100px;

    }

    .bg-dark {
      background-color: #26AEDE !important;
      margin-top:77px;
    }
    
    .bg-custom-2 {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    }

    file {
     
       }

       .label-file:hover {
           color: #17a2b8;
       }


       .input-file {
          border:none;
           background-color:white;
           cursor: pointer;
           color: #17a2b8;
       }


  </style>
    <h6 style="position:absolute;top:-32px;font-weight:bold; color:#727c90 ">Infos personnelles</h6>
    <span style="color: black ;position:absolute;top:22px;">Prénom et Nom 
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong" style="margin-left:450px;position:absolute;top:26px" >Modifier</button>
    </span> 

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Prénom et Nom</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
    </div>
          <div class="modal-body">
       <%= form_for(@user) do |f| %>
    <%= f.text_field :name %><br><br>
    <%= f.text_field :first_name %><br>
    
    
    
          </div>
          <div class="modal-footer">
            <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <div class="inpu" style="margin-bottom:20px;position:absolute;top:55px;color:#727c90;">
  <%= @user.name %> <%= @user.first_name%>

  </div>
    <br>
    <hr>


    <!-- Modal 2 -->
    
    <span style=" color: black ;position:absolute;top:130px;">Sexe
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong1"  style="margin-left:530px;position:absolute;top:1
    0px">Modifier</button>

    </span>
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Sexe</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
    <%= form_for(@user) do |f| %>    
    <%= f.text_field :sexe %><br>
    
          </div>
          <div class="modal-footer">
          <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:152px;color:#727c90;">

    <%= @user.sexe%>
    </div>
    <br>

    <hr>
    <div style="color: black; position:absolute;top:199px">Date de naissance  </div>
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong2" style="margin-left:565px;position:absolute;top:218px" >Modifier</button>

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Date de naissance</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
              <%= form_for(@user) do |f| %>
            <%= f.date_field :date_of_birth  %><br>
        
          </div>
          <div class="modal-footer">
           <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:231px;color:#727c90">

    <%= @user.date_of_birth%>
    </div>
    <br>

    <hr>
    <span style="color: black; position:absolute;top:290px ">Adresse e-mail

    </span>
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong3" style="margin-left:565px; position:absolute;top:293px" >Modifier</button>

    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle3">Adresse e-mail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
              <%= form_for(@user) do |f| %>    
            <%= f.email_field :email %><br>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:311px;color:#727c90">

    <%= @user.email%>
    </div>
    <br>
    <hr>
    
    <span style="color: black; position:absolute;top:355px ">Numéro de téléphone</span>
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong4" style="margin-left:565px;position:absolute;top:379px">Modifier</button>
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Numéro de téléphone</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
              <%= form_for(@user) do |f| %>    
            <%= f.telephone_field :mobile %><br>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:385px;color:#727c90">

    <%= @user.mobile%>
    </div>
    <br>


    <hr>
    <span style="color: black; position:absolute;top:444px">Adresse</span>
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong5" style="margin-left:565px; position:absolute;top:459px;">Modifier</button>
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Adresse</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <%= form_for(@user) do |f| %>    
            <%= f.text_field :adresse %><br>
    
          </div>
          <div class="modal-footer">
        <%= f.submit 'Enregistrer', class:"btn btn-primary" %> 
    </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:478px;color:#727c90">

    <%= @user.adresse%>
    </div>
    <br>
    <hr>
    <span style="color: black; position:absolute;top:520px">Numéro d'urgence</span>
    <button type="button" class="bu" data-toggle="modal" data-target="#exampleModalLong6" style="margin-left:565px;  position:absolute;top:534px;  ">Modifier</button>
    <!-- Modal 1 -->
    <div class="modal fade" id="exampleModalLong6" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle6" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Numéro d'urgence</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
              <%= form_for(@user) do |f| %>    
            <%= f.telephone_field :urgence %><br>
          </div>
          <div class="modal-footer">
            <%= f.submit 'Enregistrer', class:"btn btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>
    </div><br>
    <div class="inpu" style="margin-bottom:20px;position:absolute;top:550px;color:#727c90">
    <%= @user.urgence%>
    </div>
    <br>
    <hr>


  </div>
</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
      <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>



      <section>

   <style>
             

               .navbar{
                 background-color:#26AEDE;
               }

              
              
            
               .dropdown-item:hover {background: #F47E54; color:white;}
               .dropdown-item:active {background: #F47E54; color:#000;}
               .dropdown-item:focus {background: #F47E54; color:#000;}
             
               
           

                .card {
               
                  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                  transition: 0.3s;
               
                  width:280px;
                  margin-left:72px;
                  position:relative;
                }
                
              
                
                .cotainer {
                  padding: 2px 16px;
                }
                .d{
                  
                    color:#727c90;
  
              
                }
                .bu {
                  width:85px;
                  height:34px;
                  
                  border-radius: 4px;
                  background-color:white;
                  text-align: center;
                  font-weight: 500;
                  border: 1px #f4511e ;
                  color: #f4511e;
                  border-style: solid;
                border-width: 2px;
                  transition: all 0.5s;
                  cursor: pointer;
                  
                  
                }
            
                .bu:hover{
                  background-color: #f08340;
                  color: white;
                }

                @media (max-width:1189px){
                  .jumbotron left{
                    margin-right:0px;
                  }

                }
                @media (max-width:1112px){
                  .card {
                  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                  transition: 0.3s;
               
                  width:230px;
                  margin-left:72px;
                  .s{
                    font-size:11px;
                  }

                  .bordure{
                    font-size:10px;
                  }

                  .z{
                    margin-left:0px;
                  }
                }

                
                .card:hover {
                  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                }
                .jumbotron{
                  margin-right:0px;
                }
                .d{
                  padding-left: 11px;
                 
                  font-size:14px;

                }
              
             

                }
                @media(max-width:998px){
                  .jumbotron{
                    margin-right:0px;
                    width:433px;
                @media(max-width:916px){
                  .jumbotron{
                      position:relative:
                      top:222px;
                      right:533px;

                }
                
                  }
              @media(max-width:847px){

                   .jumbotron{
                      display:flex-end;
                   }
             

              
                

                }

                
              

                }

               
 
          
               

             

                </style>
                </head>
                <body>
                
                <h3 style="padding-left: 75px;">
                    <p style="padding-top:33px; font-size:22px ;position:relative;left:434px">Bonjour, je m'appelle  <%= @user.name %></p>
                 <small style="font-size:12px; color:#727c90; margin-left:77px;"> menbre depuis   <%= @date%> </small>
                </h3>
                
                <div class="card">
                    <div class="text-center">
                    <%if @user.avatar.attached?%>
                      <%= image_tag @user.avatar, alt: 'avatar', class:"avatar img-circle img-thumbnail"%>
                        <%else%>
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                        <%end%><br>
                    
                          <%= form_tag user_avatars_path(@user.id), multipart: true  do %>
                            <label for="file" class="label-file">Mettre à jour la photo</label><br>
                      <hr>
                      <small>Pour confirmez votre identité, cliquez     </small>
                      <input type="submit" name="commit" value="ici" class="input-file" >
                            <input type="file" name="avatar" id="avatar" required="required" class="custom-file-input" style="bottom:97px;width:197px;left;16px">
             
                          
                        <% end %>

                        <div class="s"><br>

                        <small class="d"> Obtener des réservations en rassurant les  voyageurs avec une identité confirmé</small>
    
                    
                      </div>
    
                      </div></hr><br>

                
                
          
                  
                </div>
    
            
               <div class="bordure"><br><br><br>
               <span style="margin-left:100px;color:black;"> <small>Lesquelles de mes informations sont<br> <span style="margin-left:122px; color:black;" >communiquées à des tiers ?<span></small><span>
               <p  class="p">Runbnb ne communique pas les coordonées de l'hôte  aux voyageur qu'aprés la confirmation de la réservation</p>

              </div>
         
         
            <style>
          

            .custom-file-input::-webkit-file-upload-button {
              bottom:33px;
              width:200px;
           
            }

            .label-file {
              font-size:12px;
              cursor: pointer;
              color: #00b1ca;
          
           
          }


            .p{
              margin-top:55px;
              width:300px;
              margin-left:70px;
              font-size:14px;
              color:#727c90;

            }
        
            
            </style>


    
      
      </section>

      <script type="text/javascript">
      $(document).ready(function(){
        $('.btn').click(function(){
          $('.menu').toggleClass('active');
        });
      });
    
    
      $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
    })
  </script>


      
</body>
</html>
