<%if @user.avatar.attached?%>
<%= image_tag @user.avatar, alt: 'avatar' %>
<%end%>
<%= form_tag user_avatars_path(@user.id), multipart: true  do %>
<%= file_field_tag :avatar %>
<%= submit_tag "mettre à jour" %>
<% end %>



<h1 style="color: pink">votre profil</h1>
<p style="color: blue">votre nom</p>
<%= @user.name %>
</div>
<p style="color: blue">votre prénom</p>
<%= @user.first_name%>
<p style="color: blue">votre adresse email</p>
<%= @user.email%>
<p style="color: blue">votre date de naissance</p>
<%= @user.date_of_birth%>
<p style="color: blue">votre adresse</p>
<%= @user.adresse%>
<p style="color: blue">votre numéro de téléphone</p>
<%= @user.mobile%>
<p>
	<a href="/users/edit">Editer votre profil</a>
</p>
<!-- <script type="text/javascript">
	let menu_teo = document.querySelector(".teo");
	let menu_form = document.querySelector(".menu-form")
	let menu_status = false;

	function menu_d (){
		if(menu_status == false){
			menu_form.style.marginleft ="-400";
			menu_status = true;
		}
		else if (menu_status == true){
			menu_form.style.marginLeft = "400px";
			menu_status = false;
		}
	}
	menu_teo.onclick = menu_d;
</script> -->