<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
        <title>Sign in -plural</title>
    </head>

    <header>
        <nav class="navbar">
            <div class="brand">

            </div>
            <div class="item">
                <a class="anchor" href="#">Deja partenaire?</a>
                <a href="/users/sign_up" class="btn">S'inscrire </a>
            </div>
        </nav>
    </header>





    <body>



        
        <div id="wrapper">
            <div id="left">
                <div id="showcase">
                    <div class="showcase-content">
                        <h2 class="showcase-text"><strong>Inscrivez votre</br>
                            <span>hébergement</span> </br> sur  Runbnb.com </strong>
                        </h2>
                        
                        
                    </div>
                </div>

            </div>
            <div class="autre-text">
                <h3 class="text"><strong>Inscrivez votre
                    <span>hébergement</span>  sur  Runbnb.com </strong>
                </h2>
            
            </div>



            <div id="right">
            <div class="carrer">    
                <div id="signin">
                    <h2><strong>Se connecter</strong></h2>
                    
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                        <div>
                            <label>Adress e-mail</label>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"text-input",placeholder:"Entrez votre e-mail"%>


                        </div>
                        <div>
                            <label>Mot de passe</label>
                                <%= f.password_field :password, autocomplete: "current-password", class:"text-input",placeholder:"Entrez votre mot de passe"%>

                        </div>

                            <%= f.submit "Sign in",class:"primary-btn" %>
                            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %><br />
                             <%= link_to "Mot de passe oublié?", new_password_path(resource_name) %><br />
                            <% end %>

                </div>
                <% end %>

                    

             


                </div>

            </div>


        </div>
    </body>

</html>


  

