<!DOCTYPE html>
<html>
  <head>
    <title>Runbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <h1>
        <a href="http://localhost:3000">Acceuil</a>
      </h1>
      
      <% if user_signed_in? %>
        <a href="<%=user_path(current_user.id)%>">Mon profil</a>
        <a href="<%= destroy_user_session_path %>" data-method="delete">Se deconecter</a>
      <% else %>
        <a href="<%= new_user_registration_path %>">S'inscrire</a>
        <a href="<%= new_user_session_path %>">Se connecter</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
